<% provide(:home, "active") %>



<div id="featureCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="item active">
			<!--<img src="1.jpg" alt="" /> -->
			<%= link_to image_tag("4.jpg", :alt => "") %>

					<div class="carousel-caption clearfix">
					<p style="color:white"><i>Toi tu te kupu, toi tu te mana, toi tu te whenua </i>- <a href="http://nzetc.victoria.ac.nz/tm/scholarly/tei-TayTeik-t1-body-d1-d8.html">Tinirau of Whanganui</a></p>
					<h1 class="pull-left">Haere mai</h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			<div class="item">
				<!--<img src="assets/images/2.jpg" alt="" /> -->

			<%= link_to image_tag("1.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p style="color:black">Everything has beauty, but not everyone can see. –Confucius</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			
			<div class="item">

			<%= link_to image_tag("2.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p style="color:black">Whatungarongaro te tangata toitū te whenua</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			<div class="item">

			<%= link_to image_tag("3.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p>Moku ano enei ra, mo te ra ka hekeheke, he rakau hinga ki te 
					mano wai</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
		
			<div class="item">

			<%= link_to image_tag("5.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p>We can easily forgive a child who is afraid of the dark; the real tragedy of life is when men are afraid of the light. –Plato</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			<div class="item">

			<%= link_to image_tag("6.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p style="color:black"> Naku te rourou nau te rourou ka ora ai te iwi</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
				
			
			<div class="item">

			<%= link_to image_tag("7.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p style="color:white">“It is horrifying that we have to fight our own government to save the environment.”
					― Ansel Adams</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			


		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#featureCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
		<a class="carousel-control right" href="#featureCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
	</div>


	<div class="container">	
		<section id="why">
			<div class="row">
				<div class="span4">
					<h3><i class="icon-comment-alt"></i></i> Toi tu te kupu, toi tu te mana, toi tu te whenua</h3><p>
					This proverb was spoken by <a href="http://nzetc.victoria.ac.nz/tm/scholarly/tei-TayTeik-t1-body-d1-d8.html"> Tinirau of Whanganui</a>. It is a plead to hold fast to our culture, for without language, without mana (spirit), and without land, the essence of being who we are would no longer exist, but be a skeleton which would not give justice to the full body of Maoritanga (maoridom). </p>
					
					<p>I have no Maori blood but I've spent more time in the hills and forests than most Maori ever have and I strongly identify with what Tinirau is saying. I also come from Whanganui and have always felt the pull of the wilderness.  </p>

					<p>When I was a teenager I was blessed by an old Maori Queen at Putiki Marae. I was walking past and she called me over and told me she could see the spirit of Tane of the forest watching over me and no harm would ever befall me in the bush. This has indeed proved true my entire life despite falling over cliffs and getting hopelessly lost countless times (always found my own way out though... eventually... took me three days once).					

				</div>
				<div class="span4">
					<h3><i class="fa fa-cog fa-spin"></i> This Website <i class="fa fa-cog fa-spin"></i></h3>
					<p>This is the personal website of Peter Davy. It is where I blog about issues that I care about and where I store photos and programs and experiment with computer stuff. I built this website myself so I am responsible for all the content.</p>
						<br>
					<p>At the moment this website is still under construction so I'm not sure yet how it is going to end up. It started out as an exercise in teaching myself how to build a unix server and ended up as my personal website.</p>
					<br>
					<p>The website runs on a VPS (Virtual Private Server) that I built up myself using the software listed on the right. Apart from Ubuntu I had to learn everything else from scratch because I'd never heard of any of it. </p>
					<br>	
					<a class="btn" href="blog.html">To the Blog</a>
				</div>
				<div class="span4">
					<h3><i class="icon-book"></i> Boring Technical Stuff</h3>
					<p>This website uses the following technology:
						<ul><li>Ubuntu</li>
							<li>NGINX</li>
							<li>Unicorn</li>
							<li>SQL</li>
							<li>Ruby</li>
							<li>Rails</li>
							<li>Dragonfly</li>
							<li>ImageMagick</li>
							<li>RefineryCMS</li>
							<li>Unix Firewall</li>
							<li>SSH encrypted</li>
							<li>Bootstrap</li>
							<li>Font Awesome</li>
							<li>Capistrano</li>
							<li>Devise Authentication</li>
							<li>Stripe</li>
							<li>Python</li>
							<li>Postfix Mail Transport Agent</li>
							<li>SSL Certified</li>

							
						</ul>
						<br>
				</div>
				<br>
			</div>
			<br>
			
			</div>
		</section>
	</div>
	
	

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-fileupload.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/main.js"></script>

<script type="text/javascript" src="https://www.startssl.com/seal.js"></script>
