<% provide(:home, "active") %>

<div id="featureCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="item active">
			<!--<img src="1.jpg" alt="" /> -->
			<%= link_to image_tag("4.jpg", :alt => "") %>

					<div class="carousel-caption clearfix">
					<p style="color:white"><i>Toi tu te kupu, toi tu te mana, toi tu te whenua </i>- <a href="http://nzetc.victoria.ac.nz/tm/scholarly/tei-TayTeik-t1-body-d1-d8.html">Tinirau of Whanganui</a></p>
					<h1 class="pull-left">Haere mai</h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			<div class="item">
				<!--<img src="assets/images/2.jpg" alt="" /> -->

			<%= link_to image_tag("1.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p style="color:black">Everything has beauty, but not everyone can see. –Confucius</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			
			<div class="item">

			<%= link_to image_tag("2.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p style="color:black">Whatungarongaro te tangata toitū te whenua</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			<div class="item">

			<%= link_to image_tag("3.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p>Moku ano enei ra, mo te ra ka hekeheke, he rakau hinga ki te 
					mano wai</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
		
			<div class="item">

			<%= link_to image_tag("5.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p>We can easily forgive a child who is afraid of the dark; the real tragedy of life is when men are afraid of the light. –Plato</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			<div class="item">

			<%= link_to image_tag("6.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p style="color:black"> Naku te rourou nau te rourou ka ora ai te iwi</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
				
			
			<div class="item">

			<%= link_to image_tag("7.jpg", :alt => "") %>

				<div class="carousel-caption clearfix">
					<p style="color:white">“It is horrifying that we have to fight our own government to save the environment.”
					― Ansel Adams</p>
					<h1 class="pull-left"> </h1>
					<p><a class="btn btn-primary btn-large pull-right" href="blog.html"><i class="fa fa-cog fa-spin"></i> To the Blog =></a></p>
				</div>
			</div>
			


		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#featureCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
		<a class="carousel-control right" href="#featureCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
	</div>


	<div class="container">	
		<section id="why">
			<div class="row">
				<div class="span4">
					<h3><i class="icon-comment-alt"></i></i> About this Blog</h3><p>
					This Blog is for the underprivileged, the sick, the poor, the destitute and the outcasts. It's for the conservationists and the romantics and those who believe we can all do a hell of a lot better than we have so far as a society. </p>
					<br>
					<p>This website is not associated with The Greens political party although I did vote for them in the last two elections. Possibly the best of a bad bunch because I don't agree with all their policies. I am an environmentalist and a conservationist but I am also a realist.  </p>
					<br>
					<p>At the end of the day I'm just not happy with the way this country is headed. I think it sucks big time. We have developed a two tiered society with the middle class and upper class living a great happy life in this beautiful country while everybody else is pretty much doomed to a life of stress and struggle for very little reward.</p>

				</div>
				<div class="span4">
					<h3><i class="icon-ban-circle"></i> The Rules</h3>
					<p><ul><li>You must register before you can post comments.</li>
							<li>Don't be a troll. Google it if you don't know what that means.</li>
							<li>Don't abuse other site users. (called "flaming")</li>
							<li>Back up what you say with links or proof.</li>
							<li>If it is only your "personal opinion" then say so.</li>
							<li>No real names should be referred to in comments unless they are public figures or already in the news.</li>
							<li>Remember the rules of slander and perjury.</li>
							<li>As Web Owner I retain the right to delete posts if I deem them unsuitable for this site.</li>
							<li>Do not wear clothes with a paisley pattern.</li>
						</ul></p>
						<br>
					<a class="btn" href="blog.html">To the Blog</a>
				</div>
				<div class="span4">
					<h3><i class="icon-book"></i> Blog Topics</h3>
						<ul><li>Current affairs</li>
							<li>Politics</li>
							<li>Social Issues</li>
							<li>Religion</li>
							<li>Poverty</li>
							<li>Maori Culture, Treaty of Waitangi, ... etc</li>
							<li>The NZ Health System</li>
							<li>The NZ Justice System</li>
							<li>The Environment</li>
							<li>Medical Marijuana and the general cannabis debate</li>
							<li>Information Technology</li>
							<li>Gardening</li>
							<li>Giant Squids</li>
							<li>Mermaids</li>
							
						</ul>
						<br>
				</div>
				<br>
			</div>
			<br>
			<div class="row">
				<div class="span4">
					<h3><i class="fa fa-cog fa-spin"></i> Web Design  <i class="fa fa-cog fa-spin"></i></h3>
					I am a qualified and experienced Web Designer and I personally built this site using <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://refinerycms.com/">Refinerycms</a> and <a href="http://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)">Twitter Bootstrap</a> frameworks and templates. This site uses all the latest technologies while remaining within accepted paradigms.  
				</div>
				<div class="span4">
					<h3><i class="icon-ok"></i> Contract Work</h3>
					I am currently available for custom web design and other computer work. This whole Blog framework I am using can be modified and customised to suit an individual client so you can have a fully functional blog very fast. I can also do full blown shopping sites with shopping cart and Paypal. <p></p>
					<a class="btn" href="enquiry.html">Make an Inquiry</a>
				</div>
				<div class="span4">
					<h3><i class="icon-credit-card"></i> Pricing Page</h3>
					Web Design is very hard to quantify cost wise and most projects end up with massive budget blowouts. For this reason I have put together a few fixed cost packages so everybody knows up front what the costs will be.<p></p>
					<a class="btn" href="enquiry.html">Make an Inquiry</a>
				</div>
			</div>
		</section>
	</div>
	
	

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-fileupload.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/main.js"></script>
