<% provide(:MM, "active") %>

<!DOCTYPE html>
<style>

.clear {
    clear: both;
}

</style>

<html lang="en">


  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    <%= stylesheet_link_tag "lightbox" %>
    <%= javascript_include_tag 'lightbox' %>
  
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div style="float:left; margin:0 15px 5px 5px;" id="banner"><%= image_tag("mm-title16.jpg",   :alt => "") %></div>

        <div>THIS IS A TEST</div>
        <hr>

        <h4>Index</h4>
            <ol class="list-unstyled">
                          
            <li class="<%= yield(:rss) %>"><a href="rss.html">Medical Marijuana - Home Page</a></li>
            <li class="<%= yield(:mm3) %>"><a href="mm3.html">Medical Marijuana Cultivation Techniques</a></li>
            <li class="<%= yield(:mm4) %>"><a href="mm4.html">Criteria for Medical Marijuana?</a></li>
            <li class="<%= yield(:mm5) %>"><a href="mm5.html">Types of Medical Marijuana Plant</a></li>
            <li class="<%= yield(:mm6) %>"><a href="mm6.html">Medical Marijuana and the Legal System</a></li>
            <li class="<%= yield(:mm7) %>"><a href="mm7.html">Cannabis and Depression</a></li>
            
            
            
        </ol>

        </div>

        <div class="clear"></div>


        
        <div><p class="lead blog-description" style="color:green">Information on Medical Marijuana from NZ and around the world.</p></div>


      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">Plant Breeding Science</h3>
            <p class="blog-post-meta">November 30, 2015 by <a href="#">Admin</a></p>

            
            <hr>
            <h2>Marijuana and Sex</h2>
            <hr>
            <h3>Overview</h3>

            
            <p> 

            Now we enter the surreal. I'm 56 years old okay and I've smoked cannabis off and on for years and known cannabis growers and dealers and smokers my entire life... both in NZ and around the world.

            The number one thing that I have seen cannabis used for in my life is sex. That's right... SEX!

            The surreal part is the fact that these days you hear cannabis trumpeted as curing cancer and curing world hunger and making coffee and painting the kitchen shed. Cannabis can apparently do absolutely everything if you read all the rubbish on the internet these days. Yet very few people ever mention cannabis and sex in the same sentence.

            Back in the sixties and early seventies... when "free love" was all the go... then everybody knew good Thai weed was the best aphrodisiac on the planet. It still is. A lot of "activists" like to make fun of the Reefer Madness days but there was actually a lot of truth in it and there still is. The quickest way into a girl's pants was to give her a joint.

            I'm not really sure why this is such a taboo subject in the 21st century when you have drugs like Ecstasy which are openly a "sex drug" and alcohol has always been used to loosen a girl's morals and everybody accepts that. People should be allowed to make their own decisions about their sex life without the Government interfering in it.

            Rather than suppress knowledge or be coy about it then it should in fact be widely advertised so women know what to be aware of... and men for that matter.

            Let's be absolutely clear about this okay. If you get the right cannabis it makes you horny. Very horny. Both men and women equally. Not only does it make you horny but it enhances sex making touch much more sensitive and sensual and prolonging orgasms in both men and women. It can also help women orgasm who have never been able to do so before.

            Some women have every right to be scared of cannabis because the right stuff will turn them crazy for sex... just like Ecstasy and Meth and Cocaine can as well. For the same reason it can be dangerous to give to some guys because they don't seem to be able to control their own sex drive after smoking it. They tend to make unwanted advances on women and masturbate in public and just be downright disgusting. This is stuff I have seen with my own eyes many times over many years. Some people just flip out sexually on cannabis.

            Let me stress that it is "variety dependant." Many skunk strains will have the total opposite effect and just make you tired and lethargic and totally not interested in sex at all. For the aphrodisiac effect you need very strong sativas that are ice to smoke and fire in the blood. They are speedy and trippy and can take sex to a whole new dimension. Plenty of old stoners out there know exactly what I'm talking about.

            Now this is one of the main areas where "recreational use" and "medical use" get hopelessly tangled up. As I said at the beginning of this article... most people I know smoke weed to enhance sex. Many of them have become addicted and reliant over the years and now smoke cannabis continuously but they started out smoking it to make them horny. You can mock "Reefer Madness" as much as you like but cannabis is still a common feature in orgies and wife swapping clubs if you're into that sort of thing... and I stress that I am not personally but each to his own.

            When you come to medical use then I personally feel that cannabis can play a huge role in restoring the sex drive of cancer patients and others with severe debilitating illness. They're entitled to have sex as much as anybody and its a good "escape" for a few minutes or hours... from the pain and misery of their disease or injuries.

            For some reason the whole industry is playing coy about cannabis and sex... or maybe the new generation is just not as smart as they think they are... and don't even know!! It wouldn't surprise me considering the content of some of the posts I see on Facebook. Some of the new wave of so called "activists" are badly misinformed to say the least.

            I have a feeling that in the future there is going to be a huge demand for the "real deal" cannabis strains that can totally transform an otherwise dull or non-existent sex life.




            </p>

            Marijuana and Driving

            I get these posts on my Facebook page about people stoned on cannabis being "safer" drivers and honestly it is the biggest load of garbage I have ever seen in my life. I have personally crashed a car three different times because I was too stoned to react fast enough in a crisis situation. that tiny fraction of a second is everything in those situations.

            I've also been in at least two other car accidents... one serious... where I was a passenger and the driver was stoned... and again failed to react fast enough.

            Driving under the influence of marijuana is very dangerous. Yes I know some people pull it off all their lives and never have an accident... just like some people drive drunk their entire adult lives and get away with it. Statistically you will always get the exceptions that prove the rule. Those same statistics say there will be a bloody disaster if more and more stoned people start driving around on our already over conjested roads.

            I have seen people drive better under the influence of marijuana... even at an extreme level. I once was involved with a long wheelbase 4WD landcruiser stuck on top of a very high and steep hill (dropping off pine trees to pine tree planters) and nobody had the balls or skill to reverse it all the way down the windy goat track to the bottom. Mate of mine... Johnny... grower... smashed all day on top shelf weed he grew himself... jumps in and reverses all the way down with a big cigar of a joint puffing away in his mouth the whole time.

            Lets be real okay. Stuff like that does happen but not everybody is Johnny. That's like the skateboarders and snowboarders who perform at extreme level stoned. Some people can do that but most will fall on their ass big time. Even growers who chain smoke the best weed all day long and are totally used to living life "out of it" are not immune to coming unstuck.

            There are some things I prefer to do stoned and won't even attempt if I'm not. I used to do extreme rock climbing stoned for example... without ropes or any safety gear of any kind. Just me and a cliff. The weed made me slow down and think carefully about every move I made and I also used it to block out pain from aching muscles hanging to rockfaces by fingertips. However I had a couple of near fatal accidents when I didn't react fast enough to a rock coming loose. Luck (I call it my Guardian Angel but most would call it luck) saved me not skill. So its swings and roundabouts. True you may drive much slower and therefore safer in that respect... but when a kid runs out in front of your car or a semi-trailer unit comes loose on the highway... are you going to react fast enough???

            I'd rather have a planet full of stoned drivers than drunk drivers... but given the choice I'd take neither thanks.


            ####################################################3

            I have one huge problem with the current marijuana industry. It's lost its way completely. We have all these politicians lying to the public about environmental harm while they rape the land to make vast personal fortunes... lying about fiscal policy while huge sections of the population slide into poverty... lying about social policy while the health sector distintegrates...

            The cannabis activists attack the Government for their constant hypocrisy... yet these same activists have now begun to lie to people themselves hiding the harm that marijuana can cause and just promoting a lot of unproven facts and half baked ideas instead of sticking to the truth.

            The facts stand on their own and are more than enough to prove the case for law changes. All this bullshit and posturing by some of the so called "cannabis activists" has just harmed the cause not helped it. There's no need to make stuff up all the time and it's just stupid to hide the negative stuff because it's going to come out in the end.

            ##############################################################################

            What I think should happen

            1 Cannabis plant should become just like any other plant. No illegality attached to it. Grow as much as you like... its nothing to do with the Government and never has been. Do they care how many tomatoes you plant or how much corn you sow? Cannabis should be the same... just another commercial crop plant or garden plant.

            2 The market place shoud be opened up to the sale of Medical Marijuana on a two tier basis. Medications that go through formal approval process to make pharmaceutical products prescribed by doctors... and a Health Shop type distribution of dried plant material and oils and edibles created from same. This could equally be Daktories or Hemp Shops or dispensaries and I would really wish in my heart they could self regulate but going by current form I doubt it... so you would need standard regulations regarding food safety and chemical analysis for toxins etc and appropriate labelling.... or... just a farmers market stall approach if people would be happy with that.

            3 Access to Medical Marijuana... who qualifies? Why everybody of course. You don't differentiate about who can buy aspirin and panadol and other mild painkillers... or who can buy Health shop pills and potions... so why make up a lot of drama about cannabis. If you think you need it then you can grow it buy it openly. I'm all for enpowering people to make their own decisions in life.

            4 Recreational use. At this point I have no idea. i'm not against recreational use at all... I just don't think they should lie and call it "medical marijuana" when really they just want to smoke dope and party and have sex or eat pizza or play Xbox all night. I have nothing against any of that... just stop saying its medical use okay. How that is policed or enforced or regulated is not within the scope of my research. I'm interested in Medical Marijuana and stopping people from being arrested for growing and smoking it. That just rips society apart.

            5 As part of overall law changes there needs to be policies put in place at the same time to manage addiction, mental health issues, learning issues from cannabis smoking at school, health issues... I do not want another disaster like alcohol ripping society apart. I personally believe education is the key and that is why I get so angry with NORML and Greencross for not being open about the negative aspects of cannabis use. They exist and they must be addressed and the cannabis industry will be responsible for those issues. I think... personal opinion only... that there should be a tax that is used ONLY for funding to groups associated with managing any fallout from cannabis law changes. I'm still open to all ideas on how to handle the negatives but step one is to start talking about them... not pretending they don't exist.

            6 The bottom line... which is the same conclusion pretty much every Social Scientist has reached as well... is this:
            The harm from discriminating against cannabis users and arresting them and locking them up is doing much more harm to society than the negatives associated with legalising the use of cannabis. The fallout is huge... tearing families apart with downstream effects that can go on for the rest of a person's life. This is wrong and for this reason alone the law should be changed immediately. Even without the whole Medical Marijuana thrust... which is a convincing argument on it's own merits.

            That's it. Nice and simple.          

            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
           

          <h4 style="color:brown"><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("photo11-thumb.jpg", :size => "76x76"), "assets/photo11.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo11-thumb.jpg"), "assets/photo11.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo13-thumb.jpg"), "assets/photo13.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo14-thumb.jpg"), "assets/photo14.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo15-thumb.jpg"), "assets/photo15.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo16-thumb.jpg"), "assets/photo16.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

          

           <h4 style="color:green">Latest Medical Marijuana News</h4>
           
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
          

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
