<% provide(:MM, "active") %>

<!DOCTYPE html>
<style>

.clear {
    clear: both;
}

</style>

<html lang="en">


  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    <%= stylesheet_link_tag "lightbox" %>
    <%= javascript_include_tag 'lightbox' %>
  
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div style="float:left; margin:5px 60px 20px 20px;" id="banner"><%= image_tag("mm12-1.jpg",   :alt => "") %></div>

        <div>THIS IS A TEST</div>
        <hr>

        <h4>Index</h4>
            <ol class="list-unstyled">
                          
            <li class="<%= yield(:rss) %>"><a href="rss.html">Medical Marijuana - Home Page</a></li>
            <li class="<%= yield(:mm3) %>"><a href="mm3.html">Medical Marijuana Cultivation Techniques</a></li>
            <li class="<%= yield(:mm4) %>"><a href="mm4.html">Criteria for Medical Marijuana?</a></li>
            <li class="<%= yield(:mm5) %>"><a href="mm5.html">Types of Medical Marijuana Plant</a></li>
            <li class="<%= yield(:mm6) %>"><a href="mm6.html">Medical Marijuana and the Legal System</a></li>
            <li class="<%= yield(:mm7) %>"><a href="mm7.html">Cannabis and Depression</a></li>
            
            
            
        </ol>

        </div>

        <div class="clear"></div>


        
        <div><p class="lead blog-description" style="color:green">Free high potency top grade Medical Marijuana to approved applicants.</p></div>


      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">Medical Marijuana Trial Research Project</h3>
            <p class="blog-post-meta">May 16, 2016 by <a href="#">Admin</a></p>

            
            <hr>
            <h2>Testing of high THC NZ grown outdoor strains for Medical use</h2>
            <hr>
            <h3 style="color:#538b01;">Overview</h3>

            
            <p> 

            An associate of mine who is heavily involved in the clandestine breeding of new Medical Marijuana strains for the NZ climate wishes to conduct an underground trial of his products.
            </p>
            <p>
            He is willing to make top grade marijuana available in small quantities for <em style="color:#ff01f0; font-weight:bold; text-decoration: underline;">free</em> to those applicants meeting the following criteria:
            </p>
            <p>
            <ul>

            <li><em>Must live in NZ</em></li>
            <p></p>
            <li><em>Must be permanent or semi permanent in a wheelchair or bed</em></li>
            <p></p>
            <li><em>Must suffer from a neurological disease such as Multiple Sclerosis or similar highly debilitating disease or have a terminal illness</em></li>
            <p></p>
            <li><em>Or must be already on Sativex for an existing condition</em></li>
            <p></p>
            <li><em>My associate is prepared to widen the criteria scope in cases of genuine pain and suffering</em></li>
            </ul></p>

            <p>This is a one time only offer and targeted at people who are very ill with low quality of life and probably on a lot of meds and suffering from depression.</p>

            <h3 style="color:#538b01;">Conditions of Acceptance</h3>

            <p>Applicants must agree to provide feedback on whether the cannabis had a negative or positive effect on their condition and details of that effect. They must agree to having their details recorded with the results for research only purposes. In any public forums applicants will be labelled anonymously.</p>

            <p><em style="color:#d74201; text-decoration: underline;">That is the only condition of acceptance.</em> No payment of any description is required and applicants are under no pressure of any sort to give positive results.</p>

            <p>The amount of cannabis to be supplied has not yet been determined and will depend on the number of applicants meeting the required criteria... if there are any applicants at all!</p>

            

            <h3 style="color:#538b01;">Known side effects</h3>

            <p><ul>

            <li>These particular strains can cause a feeling of paranoia and edginess that many people dislike so applicants need to be aware of this</li>
            <p></p>
            <li>The stronger strains are rough on the throat and lungs and will make people cough a lot so this trial is not recommended for anybody with lung or chest conditions</li>
            <p></p>
            <li>This marijuana can cause psychosis in those with pre-existing mental conditions... diagnosed or otherwise. A good sleep will cure it.</li>
            <p></p>
            <li>Insomnia. This cannabis can keep you awake for hours but everybody reacts differently so that is not a guaranteed affect.</li>
            <p></p>
            <li><span style="color:#ff019c">Sexual excitement</span>. High potency equatorial marijuana strains are one of the oldest known aphrodisiacs in the world and also greatly increase sensual perception. This may be a good thing or a bad thing depending on relationship status.</li>
            <p></p>
            <li>Slight peripheral visual hallucinations can occur with some users as well as a greatly distorted perception of time and enhanced brightness of colours. Senses can become more acute and creative tendencies can come in waves. None of this is anything to worry about and will pass.</li>

            </ul>

            </p> 

            <h3 style="color:#538b01;">Objectives</h3>

            <p></p><ul>

            <li>Refute <a href="http://www.stuff.co.nz/business/farming/77453718/New-Zealand-urged-to-grow-cannabis-for-medicinal-purposes">this article</a> which states Medical Marijuana in NZ needs to be grown indoors or in a hothouse. While my associate applauds Dr Mike Nichols enthusiasm for a law change it is not right for an eminent professor to mislead an entire industry on best business models and growing requirements.</li>
            <p></p>
            <li>Conduct research into high THC strains as opposed to high CBD strains which are all the rage at the moment.</li>
            <p></p>
            <li>Prove that getting high is a good thing when you are sick and in pain and your life is misery every day... its a beneficial theraupeutic stress relief. </li>
            <p></p>
            <li>Make life a little bit easier for a short time for some really sick people.</li>
            <p></p>
            <li>Give really sick people access to medical grade cannabis when they cannot source it by any other means.</li>
            <p></p>
            <li>Prove that not everything in life is about money. My associate lives in poverty and could have sold this cannabis on the blackmarket for thousands of dollars but instead he chooses to give it away.</li>
            </ul>

            <p></p>

            <h2 style="color:#ff010d;">WARNING:</h2>

           <p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em; font-size:16px; color:#af1f02; background-color: #ebf3fa;">


            The cannabis used in this trial is of the highest possible quality and has very high THC in the original mother plants tested in Holland. These particular strains also have low CBD so please take note of that.<br> 
            <br>
            My associate's area of research is high THC strains that will cut through the fog of pharmaceutical meds allowing a sick person to interact socially and maintain energy levels while still helping with control of spasms and pain.<br><br>

            This is not high CBD Medical Marijuana that will make you sleepy and give you the munchies and make you feel like hibernating. The sort of stuff you take at the end of the day when you're tired and just want a good night's sleep.<br><br>

           This area of Medical Marijuana research is the exact opposite trying to give a jolt of energy and clear the head a bit for people already feeling drowsy from prescription meds.<br><br>

           <span style="color:#ff010d">Please note that this trial is illegal under NZ Law as is the cultivation, possession and consumption of cannabis. Applicants take part at their own risk.<br><br>

           The owner of this website is presenting this material for informational purposes only and does not condone the breaking of the law.</span></p>
            
            <p></p>

            <p style="font-size:14px; color:#ec6502; ">For more information on the strains grown for this trial please see <a href="#">strains</a>.

            


            <h3>How to apply</h3>

            <p></p>

            <em>To apply please register as a member of this website using this <a href="usr_signup.html">link</a>.</em>

            <p></p>


             <p style="font-size:14px; color:#538b01; font-weight:bold; font-style:italic;">
    Enter the competition by <span style="color:#FF0000">January 30, 2011</span> and you could win up to $$$$ — including amazing <span style="color:#0000A0">summer</span> trips!
</p>

        <p style="font-size:16px; color:#ec6502; ">The cannabis used in this trial</p>

          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
           

          <h4 style="color:brown"><em> Pictured below is actual plants used in the trial. These were grown from strains I personally created and are now being developed further by my associate.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("weed2-thumb.jpg", :size => "76x76"), "assets/weed2.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("purplehaze4-thumb.jpg"), "assets/purplehaze4.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p><span style="font-weight:bold; color:#b701eb">Purple Haze</span></p>
            <p> Ten years in the making Purple Haze is a very unique strain and this version is available nowhere else in the world. Developed in NZ especially for the NZ climate it is bred from old school heirloom seeds from Thailand taken to Holland in 1982 and given to me ten years ago. These were crossed to another unique farmhouse strain from the Hmong highland Laos tribe people. After five years of searching for a suitable candidate and 400 plants later the Thai hybrid was crossed to a very special mango flavoured Haze.  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("purplehaze3-thumb.jpg"), "assets/purplehaze3.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>The Haze side was first bred in California then refined in Holland and Switzerland before coming to me five years ago. It adds more flavour and faster effect to the lovely mild lemon Thai hybrid. The plant grows tall and fast with good disease and pest resistance and unlike many cannabis plants you can easily tell when its ripe because it turns purple and drops it's leaves leaving only the flower buds.  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("purplehaze7-thumb.jpg"), "assets/purplehaze7.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Purple Haze is a lovely strain with the scent of mango and lavender with just a bite of lemon to it. It is not too strong but not weak either and has a soothing mellow effect while keeping energy and creativity levels high.</p>

            <p> This is a highly recommended medical strain that is much sought after in overseas dispensaries.  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("weed4-thumb.jpg"), "assets/weed4.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
             <p><span style="font-weight:bold; color:#139901">Mango Haze</span></p>
             <p>Mango Haze is an overseas strain developed by Shantibaba of Mr Nice Seeds in Switzerland. It is described as "state of the art" in polyhybrid breeding technology. It is a very nice tasting strain with some CBD content and quite high THC. This is a good medical strain for those requiring something with a bit of kick while not being scary.  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("weed5-thumb.jpg"), "assets/weed5.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
             <p><span style="font-weight:bold; color:#b701eb">Purple Mango</span></p>
           <p>This is the Haze used to make Purple Haze when it is crossed to Thai. It is not the same Purple Mango as the indica strain sold overseas. This is a sativa version. It's called Purple Mango because it smells like skunky mango and it turns purple. On it's own this is a heavy hitter that comes on fast and strong and can cause coughing fits. If you need high grade Medical Marijuana with a potency that will cut through the fogginess of some prescription meds then this strain is the one to go for. It can be a bit of a rollercoaster ride if you're not used to high potency marijuana so use with care.  </p>
     
          <hr>

          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("thai82-1-thumb.jpg"), "assets/thai82-1.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
             <p><span style="font-weight:bold; color:#139901">Thai82 Hybrid</span></p>
           <p>This is the strain used to make Purple Haze when it is crossed to Purple Mango. Thai82 is my signature strain that I've worked with for ten years. The original seeds came from a Thai Stick smuggled into Switzerland in 1982 where it was inbred for at least ten years. When I got it the strain was in a sorry state but I crossed it to a rare Highland Lao to restore vigour then used F2 crosses to get back to the Thai82 phenotypes.   </p>
           <p>The only downside to this strain is that being from equatorial Thailand it can take too long to start and finish flowering. For this reason a lot of my breeding work has been to bring the flowering forward and shorten the duration so it completes the flowering cycle in a temperate climate.
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("thai82-2-thumb.jpg"), "assets/thai82-2.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
           <p>Thai82 hybrid is just a lovely plant all around. It is old school heirloom genetics that are no longer available in a pure form in Thailand (not this particular Thai strain). These genetics now only exist with collectors such as myself. The plant grows into a small tree with high pest and disease resistance. It is very variable at the F2 stage which is great for breeding with one in ten plants being outstanding. It has a lovely lemony mango scent and very mild taste. The effect is mellow and smooth with no paranoia making it an ideal all round medical strain.   </p>
     
          <hr>          



           <h4 style="color:green">Latest Medical Marijuana News</h4>
           
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
          

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
