<% provide(:rss, "active") %>

<!DOCTYPE html>

<style>

.clear {
    clear: both;
}

</style>

<html lang="en">


  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    <%= stylesheet_link_tag "lightbox" %>
    <%= javascript_include_tag 'lightbox' %>
  
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div style="float:left; margin:0 15px 5px 5px;" id="banner"><%= image_tag("mm-title5.jpg",   :alt => "") %></div>

        <div>THIS IS A TEST</div>
        <hr>

        <h4>Index</h4>
            <ol class="list-unstyled">
                          
            <li class="<%= yield(:rss) %>"><a href="rss.html">Medical Marijuana - Home Page</a></li>
            <li class="<%= yield(:mm3) %>"><a href="mm3.html">Medical Marijuana Cultivation Techniques</a></li>
            <li class="<%= yield(:mm4) %>"><a href="mm4.html">mm4</a></li>
            <li class="<%= yield(:mm5) %>"><a href="mm5.html">Types of Medical Marijuana Plant</a></li>
            <li class="<%= yield(:mm6) %>"><a href="mm6.html">Medical Marijuana and the Legal System</a></li>
            <li class="<%= yield(:mm7) %>"><a href="mm7.html">Cannabis and Depression</a></li>
            <li class="<%= yield(:mm8) %>"><a href="mm8.html">Medical Marijuana Plant Breeding Techniques</a></li>
            <li class="<%= yield(:mm9) %>"><a href="mm9.html">My Personal Medical Marijuana Strains</a></li>
            <li class="<%= yield(:mm10) %>"><a href="mm10.html">MM10</a></li>
            
        </ol>

        </div>

        <div class="clear"></div>


        
        <div><p class="lead blog-description" style="color:green">Information on Medical Marijuana from NZ and around the world.</p></div>
      

      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">What is Medical Marijuana?</h3>
            <p class="blog-post-meta">November 11, 2015 by <a href="#">Admin</a></p>

            <hr>
            <h3> Cannabis Horticultural Science</h3>
            <p>  A huge issue I have with NORML and Greencross is the absolute rubbish they put forward as fact when it comes to the cannabis plant and what it does and how it grows. Let me get one thing straight right from the start. We are not Holland or England or Ireland or Scotland so we do not need to grow cannabis indoors under lights. The amount of garbage information that floats around this country now from wannabe gangsters that know zero about growing anything at all but think they can just buy a bunch of lights and immediately become experts on the cultivation of the most expensive and possibly the most technical plant in the world</p>
            <p> You do not need lights okay in NZ... not even at the very bottom of the South Island. Sure lights are fine if you want a hobby garden but if you want to be a legal player in a legal industry then you need to know all about cost benefit analysis and the costs associated with intensive indoor production compared to outdoor or hothouse production.</p>
            </p> This is the sort of information that NORML should be presenting to Government. Instead... because of all the misinformation around now... the NZ Govt has actually sent experts to Holland to look at indoor Medical Marijuana grows and the technology involved. Our own Govt knows absolutely nothing at all about the producer level so its shut its own country completely out of the worldwide multi-national billion dollar industry and is now relying on pre-packaged overseas rubbish that is ridiculously expensive in a country that could produce a superior product at a fraction of the price.</p>
            <p> For a Government that is meant to be all about economics they are woefully misinformed and completely out of the loop when it comes to the Medical marijuana industry. Just the Medical Marijuana seed industry (which is my industry as a plant breeder) alone is worth hundreds of thousands of dollars worldwide with many stories of the early entrepeneurs generating millions of dollars in worldwide sales. Behind the seed industry lies the whole breeding and cultivation industry. This is what marijuana is all about. Not coffee shops and partying. It's a science... and both NORML NZ and GreenCross NZ need to recognise this and stop clowning around and start setting up a professional base that the Govt feels comfortable with when they finally move to make changes to the law. It's just common sense.<p>
            <hr>
            <h3> So what is your Business Model then?</h3>
            <p> Well it would be great for us growers to pretend we could be the only licensed growers and control the market just like NORML wants to control it at the consumer end... but we're a bit more realistic than that. There are people who will always grow their own no matter what... end of story... and you can't just put your head in the sand and pretend you can legislate the issue away. Whatever business model that is eventually adopted... if it doesn't somehow encompass those that grow their own... then its a failure.<p>
            <p> More than that... its just straight out greed to want to control the market. It's what the Government does... wants to control everything so they can make money out of it. NORML are saying we're okay with that as long as we can make money out of it too... and that's pretty much been their catchcry since day one.</p>
            <hr>
            <h3> Medical Marijuana Business Model</h3>

            <p> You're never going to legislate people out of growing their own marijuana so it needs to just go back to being a plant with a plant status which is after all what it actually is. Heroin is classed as one of the most dangerous drugs on the planet yet it is perfectly legal to grow the opium poppy in your garden. In terms of psychoactive plants... it is perfectly legal to have Datura growing in your garden yet that stuff makes LSD look like cornflakes.</p>
            <hr>
            <p> So just regulating the status back to where it should be is going to totally change the dynamics of everything else such as criminality and distribution. The Medical Marijuana industry in NZ could just build from that by quite legally breeding super strains targeted directly at specific medical conditions. What has already happened overseas where Medical Marijuana is legal is that the underground recreational industry no longer want their worn out skunk strains and they're paying top dollar on the blackmarket for Medical Marijuana especially bred for specific characteristics.<p>
            <p> That is where the cutting edge of the industry is... not Hemp Stores and Cannabis Cafes. That stuff is so nineties now and the industry has moved on and NZ needs to catch up. It's all about science now and regulated breeding programs and proper dispensaries. Everywhere you turn now overseas its about education and research... not just making a buck selling weed.</p>
            <p> People really want to know one way or the other... does this stuff work... and they want to make up their own minds... not have two opposing groups pushing absurdly extreme viewpoints. Just put it out there like everything else and let the health market decide for itself. I personally believe that there are two unique industries in the Medical Marijuana marketplace and that needs to be recognised because people seem to get them confused all the time</p>
            <p> At one level you have the herbal health side of things and whole plant extracts and probably a little mini industry around little home gardening tools and techniques as well. Growing your own doesn't mean you still can't have a huge value added industry making edibles and oil etc. People have to realise though that extracts are a lot more dangerous than whole plant remedies. Already there has been numerous incidents overseas of children, pets and adults accidentally overdosing on value added plant extracts such as sweets or cookies. </p>
            <p> As far as I can tell in my research on the net... pure CBD oil extracts are completely harmless so as long as they don't have additives and there is some kind of testing procedure in place to confirm on a regular basis that it is indeed CBD oil then that market should be a free market without restriction.</p>
            <p> At the retail end of things I personally see no problem with distribution of value added products (including pipes, growing gear, etc) being handled by Health shops or Daktories or Hemp stores... but the base purpose needs to be tightly focused on the Medical Marijuana side of things. </p>
            <p> Let's be real here okay... because real is the one thing missing in all the NZ debating about cannabis... in EVERY SINGLE COUNTRY WITHOUT EXCEPTION that has liberalised legislation around Medical Marijuana there has been a subsequent relaxation of penalties in the recreational area and a significant increase in the availabilty and quality of "recreational" marijuana. That's a fact okay. Google it for yourself.</p>
            <hr>
            <p> The other area or thrust of Medical Marijuana is the pharmaceutical one and for some reason everybody including the Govt and the pharmaceutical industry themselves... get this mixed up with the whole growing plants in your garden thing. Lets keep it simple. Does the pharmaceutical industry care about people growing Opium poppies in their garden? No of course not. If cannabis can really cure or help with the treatment of cancer and if a spray is better than a pill and if you want rigorous and exceptional quality control with an exhaustive series of trials then by all means go for it and regulate it and make it prescription only if you want and charge whatever you like. Just keep your nose out of the rest of the industry you greedy buggers. It's as simple as that. </p>
            <p> You have to stop treating people like idiots (they do a good enough job on their own without encouragement... we all do... me included) and accept that not everybody is the same and one greedy business model is not going to be the answer.</p>
            <hr>
            <p> There will be those who would prefer to embrace Medical Marijuana under the supervision and direction of their General Practitioner... with the full weight of science and quality control backing up their choice. Good on them and I have absolutely no issue with that at all.</p>
            <hr>
            <p> There will be others that are right into going down to their local dispensary or Daktory or Hemp Store or whatever and trying out the latest strain especially bred for losing weight or enhancing your sex life or whatever. It's a whole different sort of market and should be treated as such.</p>
            <p> The subset of this will be the home gardener growing their own but once again lets be real here... most people these days are too busy and don't have space and may not even have skills to grow their own so they'll be quite happy to buy it. There doesn't need to be all this stupid regulation and legislation around growing just so you can try and force people to buy through controlled outlets. That approach has never worked in the entire history of mankind so why on earth would anybody think it would fly now?</p>
            <hr>
            </div>


          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
           

          <h4 style="color:brown"><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("photo11-thumb.jpg", :size => "76x76"), "assets/photo11.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo11-thumb.jpg"), "assets/photo11.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo13-thumb.jpg"), "assets/photo13.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo14-thumb.jpg"), "assets/photo14.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo15-thumb.jpg"), "assets/photo15.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo16-thumb.jpg"), "assets/photo16.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


           <h4 style="color:green">Latest Medical Marijuana News</h4>
           
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
          

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
