<% provide(:rss, "active") %>

<!DOCTYPE html>
<style>

.clear {
    clear: both;
}

</style>

<html lang="en">


  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    <%= stylesheet_link_tag "lightbox" %>
    <%= javascript_include_tag 'lightbox' %>
  
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div style="float:left; margin:0 15px 5px 5px;" id="banner"><%= image_tag("mm-title6.jpg",   :alt => "") %></div>

        <div>THIS IS A TEST</div>
        <hr>

        <h4>Index</h4>
            <ol class="list-unstyled">
                          
            <li class="<%= yield(:rss) %>"><a href="rss.html">Medical Marijuana - Home Page</a></li>
            <li class="<%= yield(:mm2) %>"><a href="mm2.html">Medical Marijuana Business Models</a></li>
            <li class="<%= yield(:mm3) %>"><a href="mm3.html">Medical Marijuana Cultivation Techniques</a></li>
            <li class="<%= yield(:mm4) %>"><a href="mm4.html">Criteria for Medical Marijuana?</a></li>
            <li class="<%= yield(:mm5) %>"><a href="mm5.html">Types of Medical Marijuana Plant</a></li>
            <li class="<%= yield(:mm6) %>"><a href="mm6.html">Medical Marijuana and the Legal System</a></li>
            <li class="<%= yield(:mm7) %>"><a href="mm7.html">Cannabis and Depression</a></li>
            <li class="<%= yield(:mm8) %>"><a href="mm8.html">Medical Marijuana Plant Breeding Techniques</a></li>
            <li class="<%= yield(:mm9) %>"><a href="mm9.html">My Personal Medical Marijuana Strains</a></li>
            <li class="<%= yield(:mm10) %>"><a href="mm10.html">MM10</a></li>
            
        </ol>

        </div>

        <div class="clear"></div>


        
        <div><p class="lead blog-description" style="color:green">Information on Medical Marijuana from NZ and around the world.</p></div>


      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">What is Medical Marijuana?</h3>
            <p class="blog-post-meta">November 11, 2015 by <a href="#">Admin</a></p>

            
            <hr>
            <h2>Medical Marijuana Cultivation Techniques</h2>
            <h3><em>Horticulture and Business Models</em></h3>
            <hr>
            <h3>Medical Marijuana Horticulture - Introduction</h3>
            <hr>
            <h3>Medical Marijuana horticulture - Part One</h3>
            <p>Indoor cultivation of cannabis is the Dutch gift to the world. They pretty much invented it because they really, really liked smoking weed but it wouldn't grow properly outdoors and even if it did then population is so dense there that the neighbour always pinched it. Not only did the Dutch pretty much invent indoor cultivation of marijuana but they built up a whole new genetically different type of cannabis plant especially bred for indoor cultivation. This has become generally known as "skunk" though to a purist "skunk" is just one of many strains of similar nature. White Widow being another for example. To the average home grower "skunk" is what you grow indoors and in latter years this has increasingly come to mean plants that are short with fat dense buds that are very sticky and smelly and these days are also expected to be purple or red or orange or a fancy combination of all of them. Whereas original skunk actually did smell like a skunk (hence the name)... current "skunks" can smell like anything from diesel and cat urine... to rotten fruit... to sweet strawberry icecream... and everything inbetween.   </p>
            <p> There is a whole new industry (created by the Dutch) that is built around "Designer Buds" and these are plants that look and smell fantastic. This situation came about because people (the Dutch) got bored with the same weed all the time so growers began crossing strains flat out to produce new exotic flavours and tastes to keep tempting the consumer.</p>
            <p>Of couse good old California hates to be left out of anything new in the drug scene so they soon joined the indoor cannabis breeding club even though weed grows just fine outside in California.</p>
            <p> So these days you have two main skunk strains coming out of either Holland or California. The California strains are based around Kush (OG Kush in particular) while the Dutch strains are either Afghan type crosses or Pakistani type crosses. Basically everything gets crossed with a middle Eastern type plant such as Lebanese, Iranian, Pakistani, Afghan, Moroccan... and this brings down the height, fattens the buds and shortens the flowering time. For some reason they also require less light than more Asian varieties even though they come from very hot and bright countries... the hottest and brightest on the planet actually.</p>
            <p> To simplify what is going on here even further... you take a Asian cannabis plant (cannabis sativa) and cross it with an Eastern hash plant (cannabis indica) and there you have your traditional skunk plant. The original skunk is not quite that simple but its also not the same plant that they call "skunk" these days. These days the masses expect a much denser and stickier bud formation than the original skunk. Once you have your basic cross you can just keep crossing and backcrossing with indicas till you get the taste and flavours that you want in a nice short plant that grows under lights.</p>
            <p> You can also grow these plants outdoors but they have one huge failing outdoors... they have been bred for looks and smell and height... not disease resistance... so without exception they're very prone to mould and fungus diseases and spider mite attacks</p>
            <p> They also fail miserably in the business model evaluation. While you have ultimate control of the environment and the plants... indoor horticulture is an expensive business with high overheads and operating costs and at the end of the day the product is no better... and in many cases is lower quality... than the product produced by other cultivation methods.</p>
            <p> Indoor plants may look the best but to get to that stage they've often used a shitload of poisonous sprays and often grown the plants in an artificial hydro system which pushes them too fast so they have a hydro flavour and lack punch. Indoor plants can be very potent depending on the skill of the grower in holding them at max flowering capacity for as long as possible which is how they become so sticky but you are always going to be limited by the genetics used to produce a short plant. It's always going to have a hash plant as its base. That is fine for medical conditions that benefit from that stupefying hash plant effect.</p>
            <p> So to summarise the business model... high control... low yield but premium product in terms of looks and taste... very high costs.</p> <p> note to self talk about cloning etc... fast crop turnaround for breeding programs... useful to support outdoor growing.</p>
            <hr>
            <h3>Medical Marijuana horticulture - Part Two</h3>
            <p>Hothouse cultivation used to be my main area of interest and research once because you can still almost totally control the environment and flowering of any plant (not just cannabis) but the operating costs are greatly reduced and the yield is quadrupled. Using shade shutters on hothouses mean they can be used to initiate flowering at anytime (used in producing commercial chrysanthemum flowers) and they can be used all year around in conjunction with lights and heating if you really feel you need to grow in the winter as well as summer.    </p>
            <p> Personally I think that if you were growing very expensive highly technical Medical strains that needed good security then a greenhouse is the way to go. It is also the most cost effective for the fast turnaround of commercial crops using shading shutters. The whole process can also be fully automated just like indoor growing but at half the cost with triple the space. Because of the heat generated in greenhouses it is possible to grow very potent marijuana because a hot environment seems to increase resin production dramatically. Humdidity can also be controlled which can be important in achieving maximum potency in some strains<p>
            <p> The biggest downfall of greenhouse production is pest and disease. On the one hand you have plants that are easy to spray and control pests and diseases... except for the fact that you really don't want to be using any sprays.... you really should be growing cannabis organically if you're serious about maximising health benefits from the plant. You don't want spray residue from toxic chemicals... and this has already become a huge problem overseas in countries or states with legal Medical Marijuana cultivation. <p>
            <p> If the issues around pest and disease can be suitably addressed in a greenhouse environment then a greenhouse is always going to be your most cost effective business model for high quality genetics that you want to grow to their full potential. Indoor growing is simply ridiculously expensive and you don't get a better product anyway. It's popular because anybody can do it... you don't need a greenhouse or land.... but apart from that its actually a pretty damn stupid way to grow plants that do much better in a more natural environment at a fraction of the cost. <p>
            <p> Full outdoor growing on the other hand cannot produce the very high quality achievable in a greenhouse because outdoors will always be at the whim of Mother Nature with wind and rain and cold to contend with.<p>

            <hr>
            <h3>Medical Marijuana horticulture - Part Three</h3>
            <p> Hothouse production of Medical Grade marijuana might be my main area of interest so to speak but large scale outdoor cultivation is my biggest area of expertise. I've done several indoor grows including organic and full on state of the art hydroponics... but I've never done a greenhouse grow and done at least 20 outdoor grows often consisting of multiple locations in one year so you're talking about 100 outdoor gardens more or less in my lifetime. Several of these have been reasonably large with the largest I ever did being 1500 plants over ten feet high in mostly one location. That crop was ripped off before it matured and got turned into oil by the Mongrel Mob. I've seen a lot bigger... I just didn't grow them myself or have any hand in it.    </p>
            <p> The biggest crops I'm aware of (even larger than Operation Ragwort which is the largest police documented crop) is those planted by farmers using agricultural equipment. In other words they plough up the back paddock and put it into cannabis. This always involves first planting a seed crop the year before to get enough seed. I've heard of crops so large they were baled with hay balers but I've never personally seen this. I have seen plenty of crops so large though that even after harvest the bulk of the crop is still there untouched because the grower either can't cope or doesn't need the rest.<p>
            <p> There's certain places in New Zealand where I've found crop after crop just abandoned and left to rot because the growers didn't need it. Professional growers usually plant multiple crops in multiple locations to allow for thieves and possums and deer and weather... it's not at all unusual to have decoy crops and backup crops when you're growing outdoors. That's a lot of cannabis. I once watched an Iriquois helicopter on East Cape working all afternoon just pulling cannabis plants off one giant sunny hill face. Must have cost a fortune in taxpayer money. </p>
            <p> Just as an aside... this is why I get so angry with the NZ Police and the NZ Legal system in regard to the cannabis laws. They know damn well about these big crops... they're generally too hard to hide... especially these days with satellite photography and top dressing and spray contractors always up in the air in choppers and planes. Even if the grower gets the crop in clean it still makes a gigantic impact when that much weed hits the streets and word gets around. I've lived in plenty of little country towns where everybody knows who the big grower is and where he grows... and that includes the local cop. These people buy farms with their cannabis crops... boats, tractors, helicopters... it's big business. Many a bush country farm up where I come from has been saved from a bank sale by a quick cannabis crop. Like they say up North... if it isn't 100 pounds then its not even a real crop. These people never get busted... ever. Never happened once in my entire lifetime and I've personally known plenty of them over the years. Yet some poor bugger in the suburbs or in some little town will get absolutely smashed by the police for ten plants in the garden or twenty plants in the closet or some absolutely ridiculously small trivial amount. They'll be sent off to prison and their entire life ripped to shreds... often lose their marriage... lose their career... kids go bad... the ripples that flow out through society when the police pull stunts like that... The injustice of it all is absolutely appalling. It's not what you know... it's who you know... and if you've got plenty of money to spread around... then that helps a lot. That's how the dope business works. </p>
            <p> Anyway I digress... outdoor growing is the hardest by miles. Okay anybody can grow cannabis outside... it is a weed and certain strains will even acclimatize and take over... but getting a good high quality result is a different matter altogether. When you have the vagaries of weather to contend with and things like early frosts and cold summers and freak storms then the quality and potency of an outdoor crop can be way down in comparison to other methods. The flipside of that is the very best plants I've ever seen and the most potent marijuana I've ever encountered has always come from plants grown outdoors... without exception. You can't grow trees indoors or in a greenhouse and some of the finest medical strains on the planet grow into trees not plants... and these are the strains that I have personally worked with the most and done the most breeding and experimentation with. I personally prefer cannabis trees to cannabis plants... and I've always been like that.</p>
            <p> there are two ways to grow cannabis outdoors and both are effective and both have their pros and cons. You can grow it as a crop like corn. In other words plant close together and plant thousands of plants. Cannabis is 100% adapted to this type of growing regardless of strain (excluding the short Dutch strains developed purely for growing under lights) and grows in a completely different fashion to the way it grows when planted as individual plants and allowed to branch... which is the other way of growing cannabis outdoors. This latter technique has been perfected by California growers in the Humboldt community who regularly grow plants as big as a small room. They have bred them for a huge round bushy shape overall rather than the traditional Xmas tree phenotype.</p>
            <p> If you were manufacturing oil... be it for THC or CBD extraction... then the corn type scenario has a business model that is superior to all others in terms of expenditure versus profit. You can get massive cost savings through economies of scale using agricultural equipment throughout and work with tonnes of raw material rather than kilograms. This scenario is suited to single strain grows rather than mixed plantings of different types of cannabis at the one location. Quality of the raw product is generally very low.</p>
            <p> Individual plantings of large plants that are allowed to bush out and/or grow into trees is the usual old school style of outdoor cultivation. These days many commercial growers use indoor or hothouse to raise clones and then grow clones outdoors for a fast highly profitable crop. This is also a good breeding technique when producing seed after first cloning the parent plants. This method... like the others... is as good as you want it to be in terms of the effort you put in. Some growers plant large quantities using the same techniques used to plant pine forests and the same tools. You get a hell of a lot of plants planted in a hurry but they don't get that big due to nutrition issues. The cannabis plant is a gross feeder that likes a lot of nutrition to grow properly. So at the opposite extreme from mass planting is when you dig a large hole for every single plant and fill that hole with compost or potting mix or your own super duper mixture. The hole can be as big as you like because if you get the soil conditions right then the cannabis plant can grow a huge root structure. This is particularly true of pure sativas and sativa hybrids. I magine those big black plastic rubbish bins that you buy in NZ at the warehouse... well that's how much root growth you can expect from a big plant... and even more in many cases. Just remember that next time you see a cannabis plant in a little pot. Little roots = little plant.</p>
            

            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
           

          <h4 style="color:brown"><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("photo11-thumb.jpg", :size => "76x76"), "assets/photo11.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo11-thumb.jpg"), "assets/photo11.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo13-thumb.jpg"), "assets/photo13.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo14-thumb.jpg"), "assets/photo14.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo15-thumb.jpg"), "assets/photo15.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo16-thumb.jpg"), "assets/photo16.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

          

           <h4 style="color:green">Latest Medical Marijuana News</h4>
           
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
          

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
