<% provide(:rss, "active") %>

<!DOCTYPE html>
<style>

.clear {
    clear: both;
}

</style>

<html lang="en">


  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    <%= stylesheet_link_tag "lightbox" %>
    <%= javascript_include_tag 'lightbox' %>
  
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div style="float:left; margin:0 15px 5px 5px;" id="banner"><%= image_tag("mm-title5.jpg",   :alt => "") %></div>

        <div>THIS IS A TEST</div>
        <hr>

        <h4>Index</h4>
            <ol class="list-unstyled">
                          
            <li class="<%= yield(:rss) %>"><a href="rss.html">Medical Marijuana - Home Page</a></li>
            <li class="<%= yield(:mm2) %>"><a href="mm2.html">Medical Marijuana Business Models</a></li>
            <li class="<%= yield(:mm3) %>"><a href="mm3.html">Medical Marijuana Cultivation Techniques</a></li>
            <li class="<%= yield(:mm4) %>"><a href="mm4.html">mm4</a></li>
            <li class="<%= yield(:mm5) %>"><a href="mm5.html">Types of Medical Marijuana Plant</a></li>
            <li class="<%= yield(:mm6) %>"><a href="mm6.html">Medical Marijuana and the Legal System</a></li>
            <li class="<%= yield(:mm7) %>"><a href="mm7.html">Cannabis and Depression</a></li>
            <li class="<%= yield(:mm8) %>"><a href="mm8.html">Medical Marijuana Plant Breeding Techniques</a></li>
            <li class="<%= yield(:mm9) %>"><a href="mm9.html">My Personal Medical Marijuana Strains</a></li>
            <li class="<%= yield(:mm10) %>"><a href="mm10.html">MM10</a></li>
            
        </ol>

        </div>

        <div class="clear"></div>


        
        <div><p class="lead blog-description" style="color:green">Information on Medical Marijuana from NZ and around the world.</p></div>

      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">Criteria for Medical Marijuana?</h3>
            <p class="blog-post-meta">November 25, 2015 by <a href="#">Admin</a></p>

            <p> There is one area where recreational use and medical use get confused... and I have to admit that even I get confused by it. It's also the reason why "regulated" supply (by a Medical Practitioner) hasn't worked properly anywhere in the world... so it certainly won't work in conservative little New Zealand. </p>
            <p> The problem with that type of "regulated" model is that certain criteria are set by law and people must meet that criteria to comply and there are two huge issues with that.</p>
            DO A LIST HERE

            <p> It's down to individual judgement calls by practitioners who have their own agendas and biases.</p>
            <p> The other problem is that some people will quite unfairly fall outside the criteria.... because even I admit there is a big grey area around hard to define illnesses like PTSD and phantom aches and pains.</p>

            <h3>Real World Example</h3>
            <p>To better explain what I mean I'm going to use a real world example... and the best example I have is myself and my own experiences.</p>
            <p> I originally used cannabis to combat nausea after I was put on a drug called bromocryptine which made me vomit all day long so i just kept losing weight and getting weaker and weaker. I tried everything for over a year that doctors gave me to stop vomiting and most of those drugs made me even worse. None of them worked in the slightest. Cannabis stopped the nausea dead in it's tracks. That's not what I want to talk about though. Compelling an argument as that might be... I want to give you another scenario to consider. My own scenario in fact.</p>
            <p> Once upon a time I was a super duper brainbox computer programmer and engineer.... then I got a tumour in my head called a prolactinoma and ended up on medications like bromocryptimine and carbergoline which I still take to this day. One of the side effects of either the medication or the tumour (I have no idea what did the damage) is/was that I can no longer concentrate or focus on one thing for long. No matter how hard I try my brain just goes all over the place and my ability to write complex computer algorithms just vanished. I'm just hyper all the time and can't keep still or stick to anything for long.</p>
            <p> Then one day by accident really I tried to write some computer code after I smoked a joint and three hours later I'd written over 1000 lines of code and built an app without even barely noticing I was doing it... just like the old days. I was gobsmacked.</p>>
            <p> True story okay... easy enough to verify... three months later I was working in Australia for Masterfoods and Uncle Bens and USA Mars family... (who at the time were the fifth richest family in the world... my USA boss used to fly in on his own private Lear jet to inspect his business interests) and I was systems Engineer on a Wide Area Network that had 70 servers in 50 countries and I had admin access on all of them. Just think about that okay. I was flown around in a chartered plane just for me... working on networks across Australia. I had a brand new Holden Calais to drive around in supplied by the company (they had to rip the plastic covering off the seats because I was the first person to drive it) and you don't want to know about my expense account. absolutely awesome company to work for and fantastic people to work with.</p>
            <p> I was at the top of my game and secretly smoking cannabis like a train the whole time so I wouldn't throw up and so I could concentrate on solving complex technical puzzles. Never had a single complaint about my work or skill ability ever... the only complaint I ever got was when I did a burnout in the carpark with the new Holden (ffs I couldn't resist!!!).</p>
            <p> Bear with me on this okay... I used to wear a suit and tie... make absolutely disgusting amounts of money... honestly I couldn't believe how much money I used to make .... paid all my bills and taxes... didn't mix with any criminals... was getting ahead in my career and life...</p>
            <p> Long story short... back in NZ working for Effem Foods NZ as a network engineer and I showed this chick my dope plants in the garden (nobody knew I smoked weed... not one single person in the whole world) and she told somebody and they told somebody and next thing the Mongrel Mob showed up and robbed me and the police got involved and I got busted while the mob got away clean with all my gear (typical NZ aye!) and my whole life went down the tubes from that day on.</p>
            <p> The court refused to allow a "medical use" defence... like I didn't even know they could do that... how is that fair?... but anyway I was told I could not mention medical use at all in court and my lawyer (prosecution puppet) refused to mention it and just to make sure I wasn't allowed to speak in my own defence at all.</p>
            <p> So that was the end of my career and my life and travel overseas and my firearms license and my reputation (went from "legendary" to "druggy" in one day) and most of my friends and family disowned me and in the eyes of NZ and the law I am a criminal... because all on my own... after all the doctors and specialists had failed... I fixed myself and patched my broken life back together and didn't whine or complain... hitched up my socks and got on with things... just needed a bit of weed now and then to keep it all happening for me. </p>
            <hr>
            <h3>Summary</h3>
            <p>My point is that I was harming nobody else... I wasn't causing society any problems... in fact I was successfully holding down an intensive high skill job... there was no issues at all until the NZ Police decided to make it an issue... so I end up with no job... no prospects... lost my house and all my belongings... on a benefit... shunned by society... and for what? For why? To this day I have no idea what I did wrong because either way I lose. </p>
            <p> I've met other people like me too... just trying to survive... stressed out with medical or other issues... not trying to play the gangster or make money... just growing a bit of weed to help them get through one more day. </p>
            <p> Is this recreational use? I don't think so. In my personal opinion it is a perfectly valid medical use and should be treated as such but it is not something that can be easily quantified and put into strict criteria for a General Practitioner to follow.</p>
            <h3> So all recreational use is really medical use?</h3>
            <p>Absolutely not! This is what NORML NZ and GreenCross NZ are saying and I personally think it is garbage. Taking weed clubbing, to a rock concert, out with the boys on the weekend for beer and weed, soccer mums with their latte and weed... the whole Cannabis Cafe scene in fact.... none of that is medical use in my book and it is a separate issue beyond the scope of this website on if or how that use should be regulated.</p> 

            </p>

            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
           

           <h4 style="color:brown"><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("photo11-thumb.jpg", :size => "76x76"), "assets/photo11.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo11-thumb.jpg"), "assets/photo11.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo13-thumb.jpg"), "assets/photo13.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo14-thumb.jpg"), "assets/photo14.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo15-thumb.jpg"), "assets/photo15.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo16-thumb.jpg"), "assets/photo16.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

          

           <h4 style="color:green">Latest Medical Marijuana News</h4>
           
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
          

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
