<% provide(:rss, "active") %>

<!DOCTYPE html>
<html lang="en">



  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div id="banner"><%= image_tag("mm-title9.jpg",   :alt => "") %></div>
        <p class="lead blog-description" style="color:green">Information on Medical Marijuana from NZ and around the world.</p>
      </div>

      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">Types of Medical Marijuana Plant?</h3>
            <p class="blog-post-meta">November 11, 2015 by <a href="#">Admin</a></p>

            <p>There are two main types of drug cannabis and there seems to be a lot of confusion about this even amongst botanists. I have no idea why because the two types are very distinctive and come from different parts of the world. When the Dutch started cross pollinating the two types to produce short bushy plants for indoor growing it seems to have confused even some of the botanists. If you look at earlier plant classification texts before the Dutch got involved the distinction is very clear.</p>
            <p> Anyway you have cannabis indica species which is a short bushy plant from the Middle East and surrounding areas. It is used for the commercial production of Hashish which is a recreational drug used in the Middle East for relaxation and sex in much the same way as alcohol is used in the West. Cannabis Indica plants overall tend to be short with fat dark green leaves and short internodal length. Internodal length is the distance between branching sites and it is the quickest way to identify an indica plant. <p>
            <p> Most people know roughly what an indica plant looks like. They feature strongly in advertising, websites and police propaganda. Most people know them these days as "Skunk" although true Skunk is actually a specific crossbreed of both indica and sativa. The entire indoor growing scene is based around indica plants though and over time those strains that have lasted the distance are now called "Skunk" by the general public, the media and the police. There is a myth that Skunk is much more powerful than other strains but we'll get to that later. Cannabis Indica plants come primarily from places like Afghanistan, Pakistan, Morocco, Lebanon etc. The Kush valley is a legendary cannabis growing area in Afghanistan so many "Skunk" plants these days are also called "Kush" though once again true Kush is a very specific strain originating from the Kush valley.... the same goes for another famous indica strain known as Chitral which comes from the Chitral valley. There is very little information anywhere on cannabis indica being used medicinally in the Middle East. It is primarily a recreational drug and heavy users are held in disdain and looked down upon by the majority of the population. Over time they tend to become lazy and listless and just sit around all day smoking hash. This is a very important point to make which we will come back to later. It should be noted that western cultures like the USA and England were the primary protagonists at using cannabis indica in tinctures, potions and ointments. Anything from the Middle East and Far East was considered exotic and of possible medicinal use. Cannabis Indica plants have almost zero resistance to mould and fungus diseases because they grow in very hot and dry climates that can be almost desert like with minimal rainfall... if any at all during the growing season.</p>
            <p> Cannabis sativa is a different plant altogether. It comes from the tropics and originates in Asia around the area of Thailand, Vietnam, India, Cambodia. It can grow as high as 20 feet and as you get up into the Himalayan foothills around Nepal there are strains that can grow as high as thirty feet and are semi perennial. In other words cannabis sativa in its natural habitat grows into a small tree. It is also used to a humid tropical environment and in some countries that includes monsoon rains. It is almost the complete opposite to a cannabis indica plant. Sativas usually have long thin leaves and long internodals lengths. In fact many sativas look almost the same as bamboo plants. <p>
            <p> Cannabis sativa has a long history of medicinal use. There is an enormous amount of misinformation on the web about the early medicinal use of cannabis so my "go to" publication that I use for general reference is the United Nations Office on Drugs and Crime and in particular their bulletin titled <a href="http://www.unodc.org/unodc/en/data-and-analysis/bulletin/bulletin_1957-01-01_1_page003.html"> "The use of Cannabis Drugs in India</a>." </p>
            <p> To give this some context... in the early days all over the world drug cannabis that you smoke was known as Indian Hemp and Middle Eastern plants weren't for smoking (except as kif - which is tobacco mixed with cannabis powder) but for making into Hashish. That is an important distinction I will come back to again and again when talking about the medical applications of certain cannabis plants. Furthermore Hashish was primarily a recreational drug that relaxed you while Indian Hemp (also referred to as Bhang and Ganga) was used extensively in medicine and spiritually. There is a whole Indian religion that has cannabis used ritually as part of the religion just as with the Rastafarians in Jamaica. </p>
            <p> The main point I want to make here is that Hashish was used to relax whereas Bhang or Ganga was often used in the complete opposite way... as a stimulant to fight fatigue so people could work harder and longer and block out the pain of tired muscles. This is an absolutely critical keystone point that seems to be overlooked in almost all the Medical Marijuana research circulating on the internet.... which is why I dismiss most of that stuff on the internet as propaganda, wishful thinking... or more often than not... people trying to pass themselves off as experts on the subject while having no real idea at all what they're talking about. </p>
            <p> For me the whole crux of the Medical Marijuana paradigm is that distinction between the effects of those two types of marijuana. My interest has always been in the traditional medical use of marijuana and the traditional marijuana strains that were commonly referred to as Indian Hemp. These are big plants that grow like bamboo and are very difficult to flower properly outside the tropics... unlike cannabis indica which can be flowered practically anywhere if you use one of the early and short flowering period strains. </p>
            <p> Just to confuse matters even further there are another two types of marijuana called cannabis ruderalis and hemp cannabis. Hemp cannabis in itself is confusing because there is cannabis grown just for pressing the seed and this is agricukturally classified as hemp... when in fact hemp means rope fibre. There are special breeds of cannabis now that have almost no drug content but grow tall and lanky and can be used for making rope and paper. These are the proper (botanically speaking) hemp cultivars but it should be noted that tall lanky Asian sativas with high drug content are still just as useful for making paper and rope... it isn't only low drug content plants that can be utilised in this fashion. </p>
            <p> So there we have the two main cannabis species... sativa and indica... and then along came the Dutch. Originally (and to this day I understand) the Dutch as a nation were known as great traders and travelled the world in Dutch merchant ships trading goods and Holland itself became the site of great sea ports that much of the world's goods travelled through. In the early days Bhang, Hashish and cannabis resin were traded openly and legally by the Dutch both from the far east and from India. Smugglers also have always used Holland as a keypoint in many traditional routes. So along with the spices and fruits and herbs ... there was also cannabis aplenty and the Dutch must have got quite a liking for it because when the USA started its global War on Drugs and it became harder and harder to get cannabis in large quantities... then the Dutch decided to grow it themselves. </p>
            <p> It was already being grown commercially in many countries for the sole purpose of export and smuggling (rather than domestic consumption). The main countries being Jamaica, Colombia, Mexico, Thailand and India. In these countries it was grown as a large oudoor field crop or harvested from existing wild plantations. In Afghanistan and Morrocco it was grown for hashish production. The American War on Drugs suddenly cut off the bulk supply of cannabis and hashish which had been shipping worldwide in the hundreds of tonnes. Much of it going through Dutch ports which had given the Dutch a taste for cannabis... and they liked it!</p>
            <p> The Dutch are one of the world's leading nations when it comes to intensive commercial horticulture so it wasn't long before they started experimenting with growing their own cannabis. Most of the early attempts were complete failures due to trying to grow tropical plants in a cold temperate climate. Somewhere along the line though the Dutch discovered that short Hashish plants grow just fine under artificial lights.... and so an industry was born. </p>
            <p>We haven't finished yet though... we've barely even got started. The primary problem with growing short Hashish plants under lights is twofold... one the plants were bred for resin production and don't burn very well as a tobacco type product (as well as tasting foul in many cases... very harsh smoke) and contrary to popular urban myth... they're actually not that potent. Duh! They might turn red and purple and look wonderful but the whole reason they get made into Hashish is because they're not that potent on their own. You need a lot of them and then you crumble the tips or press or thrash it to make hash. Take note of this because there is so much rubbish on the internet these days about cannabis. I like to look only at the actual recorded historical facts and DEA research documents rather than believe all the marketing hype. There is plenty of information on the net about THC content of different types of cannabis seized by Customs agents over the year. Hashish plants have a very low level... totally contrary to popular belief. </p>
            <p> There are potent landrace cannabis indica plants such as the tall Afghani (which often gets called Kush) but it is a huge vigorous bush rather than the more common shorter Morroccan type hash plants. It's quite difficult to grow the more vigorous indicas under lights (Hindu Death Cabbage is another variety that is very short but incredibly vigorous). </p>
            <p> So the Dutch did the obvious and crossed the short bushy indica plants from the Middle East with the much more potent and smokable tall lanky cannabis sativa plants from Asia. That was really the birth of skunk. The original skunk was a very specific cross from memory of something like NL5 and Thai but basically you take a dense resinous hashish plant that has a short flowering time and flowers early... then you cross it with a Golden Triangle or African sativa... and there you have the basis for your skunk plant. From that point forward you can start inbreeding and back-crossing and out-crossing till you get the smell, taste and type of plant that you want but most of the fancy cannabis strains you hear about these days are just some 50-80% cannabis indica crossed with a potent sativa. In the old days the "go to" sativa was Thai but these days it's Haze... which is primarily Thai anyway. You can use Colombian or African or if you can get the seed then go all exotic and use something like Indonesian or Vietnamese which will give you an edge in what has become a very competitive market place these days. </p>
            <p> So that was the marketplace in the seventies, eighties and early nineties okay... and it was a totally recreational market and industry pretty much invented by the Dutch. Canada and California quickly followed the Dutch lead and legendary seed supply companies were borne like Hemp BC (British Colombia)which is one of the first places I ever acquired "named variety" cannabis seed.</p>
            <p> In the nineties the industry began to grow stale because those of us who have been around a long time began to notice that the new skunk hybrids... far from being some new super potent form of cannabis... (as touted by the police and media)... actually all began to taste and smell much the same after awhile and the potency was boring and bland at best. In fact at one level the indoor market completely killed the real cannabis market where people smoked speedy and trippy sativas then went to rock concerts and danced and partied all night. The new skunks had the opposite effect and slowed people down and they stopped going out and stayed home and watched TV and ate pizza instead. Sure its true that some skunks have tested in the mid 20% THC bracket but they don't mention the hundreds tested that are only 3% or 5% and they don't mention that although the plants score very high in actual THC tests they are not really pleasant to smoke. Stupefying is the word I'd use to describe them. They'll nail you to your seat and you won't feel like going anywhere or doing anything and smoke too much and it will put you to sleep. </p>
            <p> So in actual fact the new skunks were nowhere near as popular as the media and police make out... amongst the real cannabis smokers. In fact they were mostly popular with the new generation that didn't know any better... and still don't.</p>
            <p> You're probably thinking what on earth has this got to do with Medical Marijuana? Well I'm coming to that now. In the background of this so called skunk revolution there has always been people like myself who had researched the medical use of marijuana and entered the industry with that area as our focus. We were a very tiny minority though and most of us specialised in very hard to grow but elite traditional cannabis sativas that have an uplifting effect rather than a tranquilising effect. Even so were slowly starting to build up momentum as more and more people began to turn away from the rather dull skunk hybrids and look for something a bit more exotic.</p>
            <p> at the same time small breakthroughs were happening in the medical science field with research on cannabis... and all this research was on THC... not CBC or CBD or any other chemical in the cannabis plant. This was just starting to take off and there was the beginning of a swing away from skunk grown indoors into hazes and suchlike grown in hothouses.</p>
            <p> Now call me cynical if you like but gee whizz just at that penultimate moment of starting to lose market interest the indoor recreation marijuana industry suddenly fastened on a single test of some of the other chemicals in cannabis (from memory the first testing was done in Israel) performed somewhere and that test showed CBD could fight cancer cells in a very specific and unique laboratory environment. Just to get this in perspective okay... there was probably twenty diffrent strands of documented research on THC as a possible medicine... and only one not that conclusive CBD test... </p>
            <p> Well next thing you know the entire Dutch indoor industry is touting the benefits of Medical Marijuana and in particular CBD and gee what a co-incidence it so happens that indoor skunk plants are much higher in CBD then outdoor sativas and high CBD plants (pretty much hemp plants and some hash plants) are really, really easy to grow too.</p>
            <p> Next thing you know everybody has dollar signs in their eyes because they already had a fully operational recreational indoor scene that now marketed seed and growing gear worldwide... all they had to do was roll it over into "Medical Marijuana" and bcome legit without changing a thing... exactly the same plants... just call them Medical Marijuana now. And that's exactly what has happened worldwide and the money has rolled in where the laws have been relaxed and now all over the world really greedy people who see a chance to make a financial killing have entered the marketplace and tried to take it over and brand it as their own. </p>
            <p> This has certainly happened in NZ. I can remember when I was the ONLY person I knew of in NZ pushing Medical Marijuana. There was no GreenCross and I had to belong to overseas organisations that were breaking new ground in research... organisations I've belonged to for years and years and never met a single other Kiwi ever. I can remember when I first approached NORML about medical marijuana and they actually laughed at me and Phil Saxby told me that Medical Marijuana would never take off and recreational cannabis was the future of the world. I probably still have the email somewhere. Now those same people who gave me a hard time back then are pushing Medical Marijuana and pretending they've always been for it... but if you actually talk to them about it they are totally misinformed and their research is crap. What they really want is the ability to sell recreational marijuana at retail level and make a lot of money... that's what NORML wants and they discard any information or research that doesn't support that mercenary objective and only promote Medical Marijuana propaganda that may lead to the outcome they want... which is them making lots of money... not them helping sick people or properly educating the public.</p>
            <p> Again I want to emphasise that Phil Saxby and NORML do not speak for me and they do not speak for any of the growers I know or any of the other people in the industry that I've known since I was a kid. Phil took it upon himself to be the "spokesperson" for an industry that had never heard of him and the media in NZ took it up hook line and sinker because they like easy sound bytes. Our NZ media are a lazy bunch that rarely research anything properly. Also I want to emphasise that I have absolutely nothing against NORML or Phil Saxby in any shape or form. He's quite literally the spokesperson because nobody else wanted the job because they didn't want the police attention. True story. Phil has every right to pursue his mercenary objectives and good on him for being an astute businessman. I just want him to stop sabotaging the Medical Marijuana industry in NZ because he simply isn't up to speed and everytime he opens his mouth about it he does more harm than good. Either support it properly 100% or leave it alone altogether instead of treating the public of NZ like idiots and trying to brainwash them that there is no difference between recreational and medical use.</p>
            <p> I can remember back in the day when a commune of hippies I knew well (they were my neighbours when I lived in the bush doing possums) used to grow absolutely ridiculous amounts of weed and I was always finding their plantations by accident and I used to wonder how on earth do they sell it all? Well what they did was everytime there was a big outdoor rock concert anywhere in the North Island... they'd travel to that and sell all their weed in no time at all to all the concert goers. These days you'll see the same thing going on with Ecstasy.</p>
            <p> Anyway the point I'm making is that the bulk of weed was unloaded at events like that and it is purely recreational use of cannabis. Fact... that is where the bulk of weed goes in NZ... recreational use. Both NORML and some members of GreenCross NZ will twist and turn and spin doctor the facts and try and convince you that a buch of headbangers getting fuelled up on alcohol and weed before a concert is "medical" use and that a bunch of bored soccer mums sitting around in cafes drinking Lattes and smoking weed is "medical" use. Apparently... according to NORML.... all the skaters in their hoodies with their tinnies trying to make a quick buck... well that's also "medical" use.</p>
            <p> Personally I'm not having a bar of it no matter how much they slag me off and try to blackmail me (which they have done on numerous occassions). I know what medical use is. I nursed a dying woman for ten years with Multiple Sclerosis, I have many friends in the Medical Marijuana world who are dying with terminal illnesses and they suffer absolutely horrific pain and misery. I also had many more friends in the Medical Marijuana industry who are now dead because whatever illness they had overcame them.</p>
            <p> These are people that used cannabis to alleviate muscle spasms that contort their legs and arms so much they can't be used at all... or to reduce shaking so they can at least hold a cup without spilling the contents... to relieve nausea after chemotherapy.... and to take the edge off excruciating pain caused by a disease or operation or physical trauma.</p>
            <p> They are NOt a bunch of rednecks or plastic Auckland wannabe hippies buying an ounce every weekend to look cool amongst their mates and then try and get some "chick" "stoned" so they can "shag" her and tell all their mates about it. That IS NOT medical use and it never will be but that's where the bulk of NZ cannabis goes.</p>
            <p> I don't know what sheltered little world cocoon NORML operates under but the I've known the cannabis community and the distribution network in NZ for fifty years and the bulk of cannabis in NZ is distributed by gangs.. (yes... note that... by gangs!!!) to young males who use it for partying with their mates. That's a fact okay and you can check it for yourself with the NZ Police and the NZ Health Industry. It has absolutely nothing to do with Medical use and it causes huge problems in society in terms of the gang connection... eg standover... violence... rape (I know of several instances of young girls getting raped when they went to score cannabis from a gang residence)... home invasions... robbery of crops and growing gear... firearms are never far away either... that's the real cannabis world in NZ okay... not the rubbish you see on TV of a bunch of students and yuppies all having a great time smoking weed for the media to take video footage. They're actually a tiny percent of the huge majority of cannabis smokers who definitely do not want to go on TV or be in the newspaper or join any organisation at all that might attract police attention to the fact that they smoke weed. They're your real recreational smoker and they're also the majority.</p>
            

            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
           

           <h4 style="color:brown"><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("photo11-thumb.jpg", :size => "76x76"), "assets/photo11.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo11-thumb.jpg"), "assets/photo11.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo13-thumb.jpg"), "assets/photo13.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo14-thumb.jpg"), "assets/photo14.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo15-thumb.jpg"), "assets/photo15.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo16-thumb.jpg"), "assets/photo16.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

          

           <h4 style="color:green">Latest Medical Marijuana News</h4>
            
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
          

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
