<% provide(:rss, "active") %>

<!DOCTYPE html>
<html lang="en">



  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div id="banner"><%= image_tag("mm-title8.jpg",  :alt => "") %></div>
        <p class="lead blog-description" style="color:green">Information on Medical Marijuana from NZ and around the world.</p>
      </div>

      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">Medical Marijuana and the Legal system?</h3>
            <p class="blog-post-meta">November 25, 2015 by <a href="#">Admin</a></p>

            <p>
                
            I've always believed that the right way to lead my life is to not hurt other people and don't steal or lie and always help other people if you can. I've always believed that at the root of everything should be just good old fashioned common sense. So as long as you're not interfering in anybody else's life or causing harm to somebody then everything should be sweet. Like I'm not a bad person. I know that. I've made mistakes in life... big ones too... just like anybody... but fundamentally I've always tried not to cause problems for other people and help them if I can.
            </p>
            <p> So why oh why have the NZ Police harassed me half my entire adult life and continually arrested me and stitched me up over and over and blatantly lied in court? Why? What have I ever done that is so wrong to deserve what was done to me? </p>
            <p> The NZ legal system historically is based on the English system of law which was theoretically based on "Natural Law" or "Common Law" which really only has one fundamental guiding principle and that is that the person must have "criminal intentions" when carrying out the act... in other words if they genuinely believe that they are doing the right thing or even a very good thing.... then they are not guilty of committing any crime. That is meant to be the most fundamental guiding principle of every single law on the books today and is also the total concept for the "insanity" plea... in other words the person didn't know, believe or understand that they were committing a crime. </p>
            <p> I say again... and I have always said this... the research of the plant cannabis sativa for medical purposes is in no shape or form a crime... ever. I have also repeatedly stated that trying to breed specific strains of Medical Marijuana with constant and reliable traits is 100% valid research. Again I have always said that I would be quite happy to be monitored and grow under full surveillance and proper research conditions... I have said that in writing to the police and the Govt for fifteen years... I have never ever wanted to be secretive. Now does that sound like criminal behaviour to you?</p>
            <p> Then there is the matter of alcohol... the elephant in the room that we're not allowed to use comparitively in defence in court. The argument is basically very simple... if alcohol is socially acceptable for whatever reason... medicinal, stress relief, recreational, party... party... whatever. If you accept that to at least some degree it is socially acceptable... then you are a raging hypocrite to criminalise the use of cannabis. Worse than that in fact... and I say worse because NZ society not only doesn't want you smoking weed but they full out want you to drink alcohol. Its sold everywhere and advertised everywhere and there is an enormous Kiwi culture firmly entrenched around the excessive use of alcohol as a social lubrication.</p>
            <p> Not everybody likes alcohol though and that is the crux of the matter. Personally it tends to either put me to sleep or make me ill. Either way I don't particularly like it and rarely drink. So why should one group of individuals be allowed open slather on their drug of choice (alcohol)... while a less powerful intoxicant (marijuana) is criminalised?</p>            

            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">

                  <h4>Index</h4>
            <ol class="list-unstyled">
                          
            <li class="<%= yield(:rss) %>"><a href="rss.html">Medical Marijuana - Home Page</a></li>
            <li class="<%= yield(:mm2) %>"><a href="mm2.html">Medical Marijuana Business Models</a></li>
            <li class="<%= yield(:mm3) %>"><a href="mm3.html">Medical Marijuana Cultivation Techniques</a></li>
            <li class="<%= yield(:mm4) %>"><a href="mm4.html">Criteria for Medical Marijuana?</a></li>
            <li class="<%= yield(:mm5) %>"><a href="mm5.html">Types of Medical Marijuana Plant</a></li>
            <li class="<%= yield(:mm6) %>"><a href="mm6.html">Medical Marijuana and the Legal System</a></li>
            <li class="<%= yield(:mm7) %>"><a href="mm7.html">Cannabis and Depression</a></li>
            <li class="<%= yield(:mm8) %>"><a href="mm8.html">Medical Marijuana Plant Breeding Techniques</a></li>
            
            
        </ol>

            

           <h4 style="color:brown"><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("photo11-thumb.jpg", :size => "76x76"), "assets/photo11.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo11-thumb.jpg"), "assets/photo11.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo13-thumb.jpg"), "assets/photo13.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo14-thumb.jpg"), "assets/photo14.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo15-thumb.jpg"), "assets/photo15.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo16-thumb.jpg"), "assets/photo16.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           


          <h4 style="color:green">Latest Medical Marijuana News</h4>
            
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>


        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
