<% provide(:MM, "active") %>

<!DOCTYPE html>
<style>

.clear {
    clear: both;
}

</style>

<html lang="en">


  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    <%= stylesheet_link_tag "lightbox" %>
    <%= javascript_include_tag 'lightbox' %>
  
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div style="float:left; margin:0 15px 5px 5px;" id="banner"><%= image_tag("mm-title12.jpg",   :alt => "") %></div>

        <div>THIS IS A TEST</div>
        <hr>

        <h4>Index</h4>
            <ol class="list-unstyled">
                          
            <li class="<%= yield(:rss) %>"><a href="rss.html">Medical Marijuana - Home Page</a></li>
            <li class="<%= yield(:mm3) %>"><a href="mm3.html">Medical Marijuana Cultivation Techniques</a></li>
            <li class="<%= yield(:mm4) %>"><a href="mm4.html">Criteria for Medical Marijuana?</a></li>
            <li class="<%= yield(:mm5) %>"><a href="mm5.html">Types of Medical Marijuana Plant</a></li>
            <li class="<%= yield(:mm6) %>"><a href="mm6.html">Medical Marijuana and the Legal System</a></li>
            <li class="<%= yield(:mm7) %>"><a href="mm7.html">Cannabis and Depression</a></li>
            
            <li class="<%= yield(:mm10) %>"><a href="mm10.html">MM10</a></li>

            
        </ol>

        </div>

        <div class="clear"></div>


        
        <div><p class="lead blog-description" style="color:green">Information on Medical Marijuana from NZ and around the world.</p></div>


      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">What is Medical Marijuana?</h3>
            <p class="blog-post-meta">November 11, 2015 by <a href="#">Admin</a></p>

            
            <hr>
            <h2>Medical Marijuana Plant Breeding Techniques</h2>
            <hr>
            <h3>Overview</h3>

            
            <p> You would think that with all this attention on Medical Marijuana and everywhere you look on the internet is these fancy looking types of cannabis... you'd think there must be some pretty expert breeding going on in the cannabis growing community these days. Ten years ago there was about 100 different varieties available from Seed Banks worldwide... now there is about 1000 plus... </p>
            <p>So you'd think there must be some pretty intensive breeding going on... and nothing could be further from the truth. Probably 95% of the so called "plant breeders" have had no formal training or self taught research and have not the slightest idea what is involved in plant breeding or how to go about it.</p>
            <p>Any university trained plant breeder will tell you that it takes 5-10 years to properly breed a new plant strain that breeds true and has all the unique characteristics fixed while still maintaining vigour and disease resistance. That's standard plant breeding 101 okay... the bare basics. This is not happening anywhere at all that I am personally aware of.</p>
            <p>Instead we are seeing so called "new strains" popping up on the market every six months and every single one of them just about is either an f2 inbred cross, or a single pollination between two different types... or an established cross that is redone all the time between two parent plants kept as clones.</p>
            <p>In the latter category there are now clones out there in Holland especially that have been kept alive for thirty years now... so at least everybody has had time to evaluate the seed they throw... which on average is about 1:20 or one in twenty plants have all the desired marker traits for that particular cross. If you're looking for the "special" plant though such as the cherry phenotype AK47 then you're looking at more like 1:200-500.<p>
            <p> What I'm seeing out there is a whole bunch of greedy people that know absolutely nothing at all about plant breeding cashing in on the ignorance of the consumer. They simply buy some White Widow seed for example and some Hindu Kush say... from any one of the hundred different seed suppliers on the internet. Then they take the pollen from a male White Widow and dust a female Hindu Kush with it and that produces seed that they give a fancy name like "Super Killer White Kush" and then they start selling it on the net.</p>
            <p> There is nothing wrong with that except it isn't plant breeding and it isn't some new strain at all. It's just WWXHK (White Widow X Hindu Kush) and it's been done 1000 times before already and given a new name so you can't track the genetics anymore. What I'm saying okay... is that rather than hundreds of new exciting breeds (types or strains) entering the marketplace or industry... it's actually the same old stuff being rehashed over and over by amatuers who don't know about proper plant breeding techniques.</p>
            <p>Most of that stuff around now is thirty years old and the seed companies are sticking with it because they aren't breeders and so they don't know what else to do except to stick with what they know has worked in the past... and you can't blame them for that.</p>
            <hr>
            <h3>Are the old strains any good?</h3>
            <p>It seems funny calling them the "old strains" when some of them are still being marketed as "brand new discoveries" but I digress. It was actually going on twenty years ago when I first saw stuff like Purple Kush and Red Moroccan, Red Lebanese and Purple Afghan (cannabis indicas)... all the building blocks of the current "skunks" or "OG Kush." Even before that there was Afghan and Moroccan hash plant seeds in fairly wide distribution... as well as Mexican, Thai and Colombian sativa seed.</p>
            <p> From all that early seed we got Original Skunk, White Widow, AK47, Haze, Big Bud and a few others. Sensi Seedbank have always been the best source of those original lines. Most of the stuff around these days is just that old stuff rehashed and given a new name. There's a few brave people who have actually gone and obtained fresh new seed directly from a foriegn country and incorporated it into a line but even then they usually only do a single pollination and then give the seed a new fancy name and start selling it.</p>
            <p> The problem with all this seed is that it is either inbred or it doesn't breed true. The inbred stuff has no disease or pest resistance and often has low vigour and a propensity to throw hamaephrodites while other seed from a single pollination between different lines often throws wild genotypes (all the plants are different heights, sizes, colours, potency etc) all over the place. This is also true of the f2 and f3 inbred lines but at least they throw back to known parent lines.</p>
            <p> Much of the seed is also blatantly falsely advertised as "hybrid" seed when in fact is actually just a standard everyday cross between two average plants... and will produce standard everyday average offspring. Often the seed is the very opposite of hybrid and is in fact an inbred worn out low vigour gene pool. True hybrid seed is made by crossing two lines that have first been inbred in isolation till they breed uniform and become "runty" with totally fixed traits. Then you get your true hybrid with uniform plants of known characteristics (traits) and proper hybrid vigour (plants grow bigger and faster than normal).</p>
            <p> It takes years to produce good hybrids... not six months. The real science and the real fiscal rewards is with strains that breed true and strains that are genuine hybrids. To produce your genuine hybrids you first need plants that genuinely breed true. So you only need to look around all the seedbanks out there to see that all these companies selling so called hybrids don't have accompanying true breeding parent lines... in other words they're just straight out lying... and they all do it. There is actually very little quality seed available anywhere in the world at the moment. Most of it is just junk. </p>
            <hr>
            <h3>Polyhybrids</h3>
            <p>If you google around cannabis breeding sites then you soon encounter the term "polyhybrid." Its a fancy name for a crossbreed or even a mongrel so don't be fooled. It basically means more than two different strains are being used to create the seed. Probably the only real difference between a polyhybrid and a mongrel is that you don't always know the parents with a mongrel but you always know the parents with a polyhybrid... even if it is a bit of a genetic soup. Most of the seed currently available on the internet is polyhybrid. The true polyhybrid stuff has the parents maintained as clones while the seed parent polyhybrids could be anything really and are just a scam.</p>
            <p>So when you see all these seed companies on the internet... just be aware that actually only a handful are reputable established seed merchants with a good track record... most of the others are dodgy which doesn't mean they don't have good seed... it can be very hit and miss is all.</p>
            <hr>
            <h3>Some Breeding Science<h3>
            <p>All my plant breeding is done according to the original guidelines established by the monk Gregor Mendel in the nineteenth century. One of the single biggest issues with the current cannabis plant breeding scene worldwide is the limited number of plants. Mendel's theories rely on statistically significant quantities to get the desired percentage ratios... as does state of the art inheritance theory... which is still based on Mendel's original observations.<p>
            <p>Most cannabis plant breeders that I personally am aware of worldwide are working with tiny numbers of plants. Historically this has been because of the need to hide an illegal activity and the associated need to grow indoors... but more and more I'm seeing breeders that simply don't know any better. They think ten plants is enough for a parent selection. Even worse they let this lack of knowledge filter into the consumer community who buy 5 seeds and then grow 3 of them and choose one to be "the super duper parent of a new killer strain that I will sell on the internet." This is going on all over the world right this minute.</p>
            <p> This single factor has got me in more trouble over the years than any other single thing associated with growing cannabis. I have always seen myself as a "plant breeder" rather than a simple consumer or supplier or whatever. So from day one I've always needed to plant as much as possible of as many types of cannabis as possible to try and get a statistically significant measurable result. So every single time I get busted they throw the book at me because I have so many plants. Story of my life.</p>
            <p> I'm deadly serious okay because this one single factor or criteria has caused me more grief over the years than any other. Judges and lawyers are meant to be intelligent right? I'm not being sarcastic here... I'm just saying it as it is. Well try explaining plant breeding science to them. Zero comprehension so they ignore it completely and make up their own fantasy block buster story and that always becomes the summary of facts in court. To date I have never ever been convicted of anything even remotely genuine to what was actually taking place.</p>
            <p> More than that I have never been allowed to even speak to the court about it or about Medical Marijuana because they know damn well that I know my subject inside out and they also know damn well they're stitching me up... but they do it anyway because they're dishonest and just want credit for a lie so they can get promoted and shit. The more arrests the better it looks on their employment record. They dramatise every tiny thing for maximum effect. </p>
            

            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
           

          <h4 style="color:brown"><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("photo11-thumb.jpg", :size => "76x76"), "assets/photo11.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo11-thumb.jpg"), "assets/photo11.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo13-thumb.jpg"), "assets/photo13.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo14-thumb.jpg"), "assets/photo14.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo15-thumb.jpg"), "assets/photo15.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo16-thumb.jpg"), "assets/photo16.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

          

           <h4 style="color:green">Latest Medical Marijuana News</h4>
           
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
          

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
