<% provide(:MM, "active") %>

<!DOCTYPE html>
<style>

.clear {
    clear: both;
}

</style>

<html lang="en">


  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    <%= stylesheet_link_tag "lightbox" %>
    <%= javascript_include_tag 'lightbox' %>
  
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div style="float:left; margin:0 15px 5px 5px;" id="banner"><%= image_tag("mm-title11.jpg",   :alt => "") %></div>

        <div>THIS IS A TEST</div>
        <hr>

        <h4>Index</h4>
            <ol class="list-unstyled">
                          
            <li class="<%= yield(:rss) %>"><a href="rss.html">Medical Marijuana - Home Page</a></li>
            <li class="<%= yield(:mm3) %>"><a href="mm3.html">Medical Marijuana Cultivation Techniques</a></li>
            <li class="<%= yield(:mm4) %>"><a href="mm4.html">Criteria for Medical Marijuana?</a></li>
            <li class="<%= yield(:mm5) %>"><a href="mm5.html">Types of Medical Marijuana Plant</a></li>
            <li class="<%= yield(:mm6) %>"><a href="mm6.html">Medical Marijuana and the Legal System</a></li>
            <li class="<%= yield(:mm7) %>"><a href="mm7.html">Cannabis and Depression</a></li>
                   
            <li class="<%= yield(:mm10) %>"><a href="mm10.html">MM10</a></li>
     
            
            
        </ol>

        </div>

        <div class="clear"></div>


        
        <div><p class="lead blog-description" style="color:green">Information on Medical Marijuana from NZ and around the world.</p></div>


      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">My Personal Medical Marijuana Strains</h3>
            <p class="blog-post-meta">November 27, 2015 by <a href="#">Admin</a></p>

            
            <hr>
            <
            <h3>Overview</h3>

            
            <p>I started out deadly serious about finding new medical strains of marijuana with new effects. The first breeding crop I ever did was 20 plants grown outdoors in pots in a swamp. Because it was a swamp nobody thought to look there even though I had some Black Power prospects and a police detective that used to try and follow me and find my plants. The detective even had a motorised hang glider that he'd used previously to find dope plants and been on the front page of the Wanganui Chronicle getting praised for his efforts. So all summer he trailed me and he'd do these endless loops over the pine forest with his hang glider looking for my plants. Thing is I was entering the public access pine forest from the designated car-park and walking an hour straight through it and out the other side into a huge swamp full of mud and flax and bullrushes. To this day there are still pots in there never been found.   </p>
            <p> So I had forty pots and I'd sit them on the mud and they'd sink in a bit and draw up water from the mud and didn't even need watering. Only limitation was the 40 litre size and all the plants would outgrow the pots. I had forty plants and ended up with twenty after pulling out all the males I didn't want. I think I left four.... so that would have been 16 females. They were my first ever fully grown matured and harvested correctly crop. The seeds came from Switzerland, Canada and America. They were Colombian Gold harvested wild in Colombia, Indonesian sativa harvested wild in Indonesia, genuine purple kush (most people have never seen the real thing... the stuff around these days is nothing like it), Strawberry Cough, Haze #9, Original Haze, Big Bud, Orange Blosson, African Red sativa and BC Haze.</p>
            <p> That year I made one of the biggest breeding mistakes I've ever made. I'd seen hundreds of sativas by that time in sticks and deal bags and seen others growing them. I'd never seen an Afghani Kush before though... let alone a purple one. Huge fat dark green leaves, massive stalk or stem like a tree trunk, grows about six feet high in a bush shape with the most incredible huge fat purple buds you'd ever see and a deep lavender/leather smell. If you leave the buds to go over-ripe they turn deep maroon. I was growing Big Bud as well which has ridiculously big "Donkey Dick" buds double the size of Purple Kush but the Kush buds were double the weight.</p>
            <p> So not knowing any better and just starting out on my breeding career... I hit half the crop with Purple Kush pollen and the other half with Indonesian Sativa.</p>
            <hr>
            <h3>Purple Kush<h3>
            <p>The Purple Kush seeds came from Hemp BC in Canada and were a "special" present from a guy who had just got back from Afghanistan with this new purple weed that had huge buds and weighed a tonbecause they were so dense. Those seeds weren't even meant to get out of the hands of a very small group of breeders in Canada so I was lucky to get them. The Purple Kush also flowered quite early. Not as early as Big Bud but about mid March it was done... and it flowered fast... eight weeks... bang... done. Plus you knew when it was fully ripe because it changed colour from deep purple to maroon purple. Naturally I fell in love with the plant and thought it was the greatest dope plant species on the planet</p>
            <p>Of course at the time I crossed the Purple Kush with half the crop... I hadn't actually tried it out because I'd never had it dried. I just assumed... all the way from Afghanistan... looks like heaven... must be killer super duper weed. Never even gave me a buzz. Nothing. Just made me feel tired and not want to do anything. Just sit there. I hated it. Might as well smoke stinging nettles... and I'd hit half the crop with the pollen. So here's the thing I learnt that day... which most of the plant breeders still haven't learnt... plants from Afghanistan (and Morocco, Pakistan and Lebanon) are hash plants. The buds are completely different in a real hash plant. Very thick and dense and spongy to the feel and very hard to dry properly and never ever burn properly in a joint. Very tarry and pretty disgusting to be honest and the taste is that of a cheap cigar. Horrible and rough as guts on the lungs in other words. Potency as far as I was concerned was nil. Yet when I gave the stuff away everybody wanted it because it was purple and they kept coming back asking for more of it but I personally think this was just the novelty value because nobody I knew had ever seen Purple Kush before.</p>
            <p> Now comes the interesting part though... the next year I grew out the crosses I made the first year and I ended up with 40 plants... not 20... because I grew at the beach as well. So I had about 20 say that were Purple Kush X Strawberry Cough and Purple Kush X Big Bud and Purple Kush X Haze #9 and that was a whole different ball game because the Purple Kush phenotype came through very strongly in all crosses so I ended up with some amazing colours and smells. The Purple Kush X Strawberry Cough had a smell to die for... like blueberry and strawberry icecream mixed together... I'm not kidding okay... to this day you can get dope plants that smell like that... and now the buds were purple with bright red Strawberry Cough hairs and they were still huge and dense. Big Bud had a sort of pineapple smell and turned yellow at harvest so crossing that with Purple Kush was pretty interesting as well and on it went. I just had this most amazing selection of tastes and colours and up until that point I'd always thought marijuana plants were green and they grew about ten feet high and had skinny leaves. It was a whole new world for me. Unfortunately none of those strains were potent in the slightest and I personally never smoked any of it. Just gave me a headache.</p>
            <p> Yet when I gave it away people just went nuts over it. That's when I learnt that the marketplace for weed has two main streams... one is the person who is looking for killer weed and always wants the strongest available... the majority of the market though selects weed on looks and size and weight and colour... and these days especially... smell. They don't actually care if its potent or not. A lot of people just seem to like the dope smoking culture and to be "the man" with the skunky buds. For many people it seemed to be just a social thing like having a coffee with your friends or a beer with your mates.</p>
            <p> That isn't my area of interest so I'm not honestly sure why people go nuts over pretty looking weed that doesn't get you high but that is actually the most common sort of weed around these days all over the world. Strange when the media keeps raving on that marijuana is ten times more potent these days when in fact its actually gone the opposite direction and is less potent. Some of it can get you "stoned" which is that feeling I was talking about of not wanting to move or do anything... as in a stone just sits there and does nothing. I don't actually like that feeling okay and I don't like marijuana that does that and all my breeding efforts have been in the opposite direction away from that.</p>
            <p>The other problem I eventually found out with Purple Kush (and Big Bud is even worse) is that it has zero resistance to mould and I mean zero. Kush plants will mould up when nothing else gets even a tiny black spot of mould yet a kush plant will just melt into a rotten mouldy mess. For this reason I've only ever grown them as a novelty ever since and also just to prove that I can grow Kush as good as anybody... but I choose not to because I am not convinced at all that is has the medical properties I look for in a cannabis plant. For the record... these Purple Kush type plants are very high in CBD as a rule but low in THC. They're bred for producing hash. Simple as that.</p>
            <p>The Police took my entire supply of Purple Kush seed in Ashburton. Many thousands of seeds.</p>
            <hr>
            <h3>Indonesian sativa</h3>
            <hr>
            <p>If there is one plant I regret losing more than all the others it is my purebred Indonesian Sativa line. The police got all my seeds in Ashburton. I originally purchased 100 seeds from Switzerland off a guy who collected them wild in Indonesia. When I say wild that is not completely accurate. The locals in Indonesia would burn down some bush then scatter marijuana seed in the ashes and then leave it to grow wild until they came back to harvest it all at once... males and all. My supplier who was a grower himself had not been able to grow the seeds successfully in Switzerland so sold them to me cheap. I think 100 seeds cost me ten bucks.</p>
            <p>He told me they would not grow to maturity in my climate but they grew just fine and were the toughest most disease and pest resistant strain I've ever grown with a hell of a kick to match. The potency was way up there in the top ten most potent smokes I'd ever had and suddenly I had heaps of the stuff. Every plant was potent. I've always thought if I could only grow one strain then it would have to be Indonesian Sativa. Those plants were just insane. Tall bamboo like xmas tree shape plants with long buds the length of my arm that would get so heavy the whole plant would droop over. Man I miss that strain. When you'd tried everything else and nothing seemed to have any kick to it then you could always reach for the Indonesian and scare yourself silly. Some of it was way too strong.</p>
            <p> There's a famous story amongst the oldtime growers on the net that I've hung out with for twenty years or more... about these three guys who ran a seedbank in California and grew all sorts of weed... and they got their hands on some weed brought back from Vietnam... and they were driving down the road and smoking this stuff for the first time and suddenly they stopped the car in the middle of an intersection... motor still running... doors flew open and they all went running off down the street because they thought the cops were after them... they were the only car on the street. well that's what some of the best of the Indonesian was like. i'd look at a joint and think... hmmm should I risk it? Crazy stuff.</p>
            <p>That's the sort of result I look for though when I'm talking about medical grade marijuana. you don't want some namby pamby maybe its working... maybe its not... sort of medical weed. If you have an operation in hospital and they give you morphine then you sure as hell want it to work. You want to feel that stuff hit. Well thats how I view Medical Marijuana too. You want that stuff to cut through everything... especially if you're already on some horrible meds that make you all sleepy and confused... as is the case with much of the medications for any ailment. You want weed that cuts straight through all that crap and gets your brain fired up again and your blood moving. Too much of this CBD weed these days is wishy washy "not really sure if it works" type weed. Absolute waste of time. CBD oil... maybe... the jury is still out on that one... but CBD weed to smoke. Not my cup of tea that's for sure.</p>
            <p> Indonesian Sativa was pure fire but I don't have it any more. All my seed was stolen/seized by the NZ Police in Ashburton. By then I was up to my fifth generation stabilised Indonesian strain and I'd worked it into the Purple Kush which I now called Purple Skunk and I'd hit my Colombian Gold plants with the Indonesian and I had killer strains everywhere I looked adapted for NZ conditions and stabilised. Then the cops took my seed and put me in prison.</p>
            <p> There's an aspect to all this that really pisses me off and still does to this day. At the time I took my Indonesian seed for granted because I had literally hundreds of thousands of seeds both pure and established crosses. Once I'd made that initial seed purchase I mentioned at the start... I never went near seedbanks or on the internet... because I get ultra paranoid when I'm growing. So I had no idea what had been going on worldwide in the Medical Marijuana plant breeding community. Turns out I was THE ONLY PERSON IN THE WORLD WITH THAT PURE LINE OF INDONESIAN SEED. It had been wiped out in its homeland (just that particular line) and no other grower had ... and to this day.. fifteen years plus later... as I write this... no seed supplier in the world lists Indonesian Seed. That seed was worth a fortune and worth even more for its genetic potential in the Medical Marijuana industry.</p>
            <p> As always I tried to explain that to the police at the time... as I always do everytime they have stolen my seeds... but its impossible to explain stuff like that to them. They have absolutely no idea at all what I'm talking about. If a sentence doesn't have the word beer in it somewhere they don't even listen.</p>
            <p> At least the Indonesian Sativa gave me a direction to head in and while everybody else just about worldwide was getting all obsessed with the short Afghanis and kushes and other cannabis indica plants I was heading full speed in the exact opposite direction trying to track down rare sativa seeds from all over the world. While everybody else was interested in Morocco, Egypt, Lebanon, Pakistan and Afghanistan strains of cannabis... I was after seeds from Thailand, Vietnam, Cambodia, India... anything from a tropical country near the equator. That's where the killer weed comes from.</p>
            <hr>
            <h3>Wanganui<h3>
            <p>My breeding program in Wanganui was going well and I was beginning to see the various characteristics of different plants coming through in the offspring but I still wasn't quite getting the potency I was after on a consistent bais so the third year I grew 60 breeding plants (after pulling out the males) still looking for that one special plant to use as the genetic building block for a whole new line. Until I found that plant I was just open pollinating to get as much genetic diversity as possible.</p>
            <p>Unfortunately that year I made the mistake that ruined my entire life for evermore. I tried to help a Maori girl that was in trouble and in the process of that she became aware that I was growing cannabis and she told some members of her family that were involved with gangs and they decided to rob me.</p>
            <p>I'm not going to go into details but things got nasty very fast and I lost a house and everything in it... plus all the cannabis... and went through several home invasions and threatened with guns and drugged unconcious and robbed... and it was very bad. At the end of it the gangs got half my weed and the police got the other half which they valued at $37,000... (court documents on record) and I got busted. All because I'd tried to help a Maori girl who told me she was being forced into prostitution to pay off drug debts.<p>
            <p> I had nowhere to live anymore because the Mongrel Mob took over my house and the bank sold it. The police did nothing. All I had left in the entire world was a plastic bag of seed the police and the gangs missed. So I thought I had nothing to lose anymore so I might as well do things properly.</p>
            <hr>
            <p>Jerusalem</p>
            <p>So the nexty season I went way up the Wanganui River by Jerusalem and lived in the bush (because I had nowhere else to live) and made a hut and shot wild deer for food and planted 1500 cannabis plants. Now I want to stress that is not a big number to me. It is the largest amount I have personally grown but nowhere near the largest amount I've seen growing and barely enough to get a statistically accurate representation of the breeding percentage ratios I wanted to achieve. In all honesty I wanted to plant 5000 plants but I'm just one person working alone and I found out that 1500 plants was the limit that I could raise by myself from seed and plant out properly in pre-dug holes. I made my own compost in the bush from animal droppings and organic matter.</p>
            <p>Unfortunately I might have been very clever at growing cannabis in pots in a swamp but I was bloody stupid at growing it in the bush. I didn't realise that these days there are helicopters and planes everywhere... even in remote bush locations. These days farmers use helicopters for weed spraying and fertiliser application and there was top dressing pilots and scenic flights over my crop and I think by the end of it there was pilots taking detours just to see how the plants were doing. Everybody spotted the damn things and the bush was crawling with cops in camouflage gear and gangsters in camouflage gear and hunters in camouflage gear... all of them armed to the teeth and traipsing around in my little patch of bush. I abandoned the crop when the plants were about ten feet high and went back to town where I heard that two gangs were fighting with each other about who was going to rip off the crop.</p>
            <p>Cops picked me up to bust me but while they had me in custody a gang swiped the entire crop and the cops had no evidence except photos. They let me go while they decided what to do and the other gang that didn't get the crop came after me!!! Apparently it was all my fault or they thought I had a secret stash which I didn't. Anyway the cops told me to get out of town before I ended up in a body bag. Wanganui is like that. Tough town. So I jumped on a bus with one change of clothes in a backpack, $300 and a matchbox with all the seeds I had left. That was all my wordly possessions at 40 years of age. I headed for the South Island.</p>
            <p>I got off the bus (ferry trip included) in Ashburton but things didn't work out for me and so I headed over the West Coast to Karamea to milk cows. Toughest job I've ever had in my life and i've milked plenty of cows before but I was treated worse than bad by my employers. So I grew 70 plants to get some fresh seed out the back of the farm but I was depressed and run down and quite ill with health issues so it was a pathetic grow really and I wasn't even that suprised when a police helicopter found the crop and so I owned up to it. If I hadn't they reckoned they were going to arrest the farmer. I didn't believe that but I've always owned up. Always.</p>
            <p> I got away with fresh seed though. The herd testing girl and her boyfriend stole most of the cannabis but I got away with the seed and all the junk that was left after the best stuff was stolen. I got booted off the farm and bailed back to Ashburton.</p>
            <hr>
            <h3>Ashburton</h3>
            <p>Ashburton is where I lost all my seed. I grew 70 plants indoors under lights while on bail and made the "cabbage" from the West Coast into oil. Once again a girl got me in trouble. Never mind the details but my supposed "girlfriend" at the time ratted on me to the cops to get out of a speeding ticket. I've never had much luck with women in that regard apart from Tracey. I've known gangsters that were into terrible things yet the women were always 100% loyal to them. That was one thing that always amazed me and still does to this day because I had very bad experiences with women turning me in to save themselves. But I digress.</p>
            <p>By the time I hit Ashburton I was on my fifth generation of some of my seed lines grown in NZ and after I did an f2 cross on an indica on the West Coast I had some "Hindu Death Cabbage" seed. Hindu Death Cabbage is a landrace indica that has huge fat leaves and grows very short with a fat central cola. It must have been used in the breeding of one of the lines I originally purchased and my continual inbreeding and backcrossing had isolated it again because suddenly it was everywhere and that's what I had mostly under lights... along with Colombian Gold which I had just discovere was pretty much original in the wild and I had the genuine seed line gathered from a mountain valley in Colombia. Nice plants with tiny seeds and hundreds of tight little sativa buds that turn yellow when they're ripe. Not knockout potent but women always seemed to love it for some reason. Sort of mellow compared to the feirceness of the Indonesian sativa.</p>
            <p>So I lost everything in Ashburton. Five years worth of breeding, five years worth of research... plus everything I owned in the world obce again... and I mean everything. The Ashburton police were absolute thugs. There is no other way to describe them. My "girlfriend" that dobbed me in must have fed them one helluva bullshit story because they went out of their way to break my balls. Let me be ver, very clear about this okay. I have enough stress and hassles in my life without winding up cops so I have never given them any trouble in my entire life... to this day... period. Never fought them, never run from them, never abused them, never refused to answer a question, always polite and respectful.... and in return I have to admit the cops I'd met up to that point in my life had been at least tolerable if not reasonable.</p>
            <p> Ashburton they were just out and out thugs. Never been handcuffed before in my life yet the Ashburton cops insisted on handcuffing me... extra extra tight and very roughly... even though I was out numbered twenty cops to just me. I was dressed in pants (no undies) and a T shirt and bare feet. On the bed only one metre away was my shirt, jersey, jacket and socks. My shoes were on the floor. The Ashburton police refused to let me have those clothes or put them on. I never saw them again or any of my other belongings that I'd collected after four years in the South Island having to start again from scratch. I never saw my car again... or my bankbook or my passport.</p>
            <p> The police locked me up in Christchurch prison in the clothes I was wearing. Pants and a T shirt. I went to prison like that. I had no money, no visitors, no phone calls and no mail the entire time I was in prison. I froze every single day. It was hell on earth.</p>
            <p>Let me be very very clear about this for the record okay. The Ashburton police did that to me deliberately and with malice. I have absolutely no idea why or what lies my "girlfriend" had told them but they coldly and deliberately destroyed my entire life and lied and lied and lied to make sure I was ruined. They deliberately lied to the judge and said I was unemployed and had no fixed abode. I'd been living in the same place they busted me for two years and had just been promoted at work the week before and given extra work the day before I was busted. They lied to make sure I couldn't get bail while my flat was robbed. The cops just walked out and left the doors open for everybody and anybody to steal whatever they like.</p>
            <p> All my clothes... twenty years of memories and personal photos sent down to me from the North Island gone forever... stuff with sentimental value... that's all I cared about losing. I repeat the Ashburton police did it on purpose and they were known for doing that sort of thing and also well known for protecting their local drug dealers and busting the "out-of-towners" to keep the market keen.</p>
            <p>I have no Maori blood but a couple of the Ashburton cops thought I did and made some very raciast red neck remarks about Maoris better "keep out of their town." It was a real eye opener to me on how corrupt our NZ Police Force actually is but it gets worse. While in prison I wrote to the IPCA about the Ashburton police lying to the judge to facilitate the robbery of my flat. Next thing I get a message from a screw to "watch my back" because a hit was out on me because I'd complained about the cops. This is in prison where I've got nowhere to hide or run... and stuff did in fact happen which I'm not going to go into here and I still feel to this day that I was lucky to escape with my life and that the NZ Police are far more dangerous to cross than the Mongrel Mob. The IPCA ignored my complaint... as they always have and always do.</p>
            <hr>
            <h3>Timaru</h3>
            <p>If ever there was a pivotal town in my life then it is Timaru. I've lived all over NZ and the worst town I ever lived in with the worst police force (in terms of my own interaction with them which is all I can speak about) was Ashburton. Timaru nearly equals it though. Timaru is like Ashburton all dressed up... but underneath the glitz its the same sleazy sordid undercurrents. Whether I like it or not though Timaru will always be a huge part of my life because I met Tracey there and got stitched up there by the police and just so much happened in the few years I lived there.</p>
            <p>I came out of prison with nothing. You get $300 grant from WINZ to help you get started. Whatever. I lived in Christchurch while still on parole and I hate cities but they gave me no choice. Concrete jungle. I hated every second of it and was seriously depressed the entire year I lived in Christchurch. You can't start a new life in a city with $300. That's absurd. Just buying some clothes and a vacum cleaner and pots and stuff like that cleaned it out.</p>
            <p>Tracey was a gorgeous girl I'd met by accident over the internet before I ended up in prison... and also the reason I took off over the West Coast in a big sulk... but that's another story. Tracey had Multiple Sclerosis and i'd been sorta looking after her... driving from Ashburton to Timaru several times a week.... but then they put me in prison and while I was in prison Tracey's health deteriorated dramatically. I'll always blame myself for not being there for her when she needed me but I digress again.</p>
            <p> It took me a year to get permission from my parole officer to move to Timaru. It took a year because my parole officer reckoned Tracey was faking Multiple Sclerosis to get attention. Tracey is dead now. I suppose she's faking that too. It was a year I could have been with her that I can never get back but nothing I can do about that now.</p>

            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
           

          <h4 style="color:brown"><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("photo11-thumb.jpg", :size => "76x76"), "assets/photo11.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo11-thumb.jpg"), "assets/photo11.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo13-thumb.jpg"), "assets/photo13.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo14-thumb.jpg"), "assets/photo14.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo15-thumb.jpg"), "assets/photo15.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo16-thumb.jpg"), "assets/photo16.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

          

           <h4 style="color:green">Latest Medical Marijuana News</h4>
           
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
          

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
