<% provide(:rss, "active") %>

<!DOCTYPE html>
<html lang="en">



  

    <%= stylesheet_link_tag "blog2" %>
    <%= stylesheet_link_tag "bootstrap2" %>
    
   
  </head>

  <body>

    

    <div class="container">

      <div class="blog-header">
        <div id="banner"><%= image_tag("mm-title4.jpg",  size: "1000x327", :alt => "") %></div>
        <p class="lead blog-description" style="color:green">Information on Medical Marijuana from NZ and around the world.</p>
      </div>

      <div class="row">

        <div class="col-sm-6 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">What is Medical Marijuana?</h3>
            <p class="blog-post-meta">November 11, 2015 by <a href="#">Admin</a></p>

            <p>Medical cannabis, or medical marijuana, refers to the use of cannabis and its cannabinoids to treat disease or improve symptoms rather than for recreational or spiritual purposes. <a href="https://en.wikipedia.org/wiki/Medical_cannabis">wikipedia</a></p>
            <hr>
            <p>The use of cannabis in New Zealand is governed by the <a href="http://www.police.govt.nz/advice/drugs-and-alcohol/illicit-drugs-offences-and-penalties">Misuse of Drugs Act 1975</a>, which makes unauthorised possession of any amount of cannabis illegal.</p>
            <hr>
            <p>Because the marijuana plant contains chemicals that may help treat a range of illnesses or symptoms, many people argue that it should be legal for medical purposes. <a href="http://www.drugabuse.gov/publications/drugfacts/marijuana-medicine">reference</a>.</p>
            <hr>
            <h3> Does it really work?</h3>
            <p> The short answer is.... <a href="http://www.scientificamerican.com/article/medical-marijuana-how-the-evidence-stacks-up/"> maybe</a>. There is opposition to it being legalised from several influential pressure groups who claim it is a harmful substance and there is equally strong pressure from <a href="https://norml.org.nz/">liberal</a><a href="http://greencross.org.nz/wordpress/"> groups</a> that claim marijuana cures everything from cancer to Alzheimers and pretty much everything in between. Like most things in life the true answer is in the middle somewhere and it has its pros and cons just like anything else. My personal evaluation is that it is very effective for controlling <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3394820/">spasticity in Multiple Sclerosis</a> and a valuable <a href="http://veteransformedicalmarijuana.org/content/general-use-cannabis-ptsd-symptoms">treatment for</a> <a href="http://www.marijuana.com/blog/news/2015/11/senate-passes-bill-letting-veterans-access-medical-marijuana/">PTSD</a>. I have also found it effective for nausea and pain in certain situations and cannabis has specific qualities for helping people in other health related areas.</p>
            <hr>
            <h3> Well is it harmful or not?</h3>
            <p>A hammer is harmful in the wrong hands or used wrongly. Yes it can be harmful if used in a silly fashion... just like pretty much anything else in life... and there will always be those who do abuse pretty much everything they can get their hands on... and in these cases it is most definitely harmful even if the harm is a fraction of the fallout associated with alcohol.</p>
            <hr>
            <h3> So how can it harm me then?</h3>
            <p> Some people have a bad reaction to it. I have seen it happen with my own eyes many, many times and been involved personally with getting people help in a hurry after a bad reaction. In very extreme cases this does mean emergency hospital treatment. I would have to say this sort of extreme reaction (which is usually some sort of mild psychosis) is very rare. Mental Health NZ and the NZ Police do get hundreds of cannabis related incidents however every year where people are acting strangely and not well. The most common bad reaction is a mild form of paranoia which can be associated with delusional thinking that people are staring or limbs aren't working or some sudden mysterious illness onset. Common physical bad reactions are sweating, shaking, nausea and vomiting. In stoner language this is known as a "whitey" because the person so afflicted turns deathly pale.</p>
            <hr>
            <h3> So it is dangerous then?</h3>
            <p>Not at all. Even the most extreme psychotic reaction to cannabis with full on paranoia and even hallucinations... will usually wear off after a few hours or a few days at the very outside. A good sleep is usually the only treatment required for an adverse reaction. There are numerous stories on the internet doing the rounds about cannabis causing psychosis but a true permanent psychosis that needs psychiatric treatment is extremely rare. Unfortunately the Mental Health profession in NZ are not up to speed with cannabis at all and tend to immediately begin treatment with anti-psychotics which is where the real danger lies. The fact of the matter is that hundreds of thousands of New Zealanders have smoked cannabis without any long term ill effects and many have done so their whole lives.</p>
            <hr>
            <h3> So why is it illegal then?</h3>
            This is the point where researchers quote the Hemp Industry history and the USA War on Drugs and grandma's kitchen sink. Again... like most things in life... it's illegal because there's a shitload of money in it... just like the alcohol industry and the pharmaceutical industry... both of which have vested interests in the legal status of marijuana. The alcohol industry doesn't want any competition in the recreational abuse of drugs area and the pharmaceutical industry naturally wants to control anything that can be turned into a pill and marketed. That's not the only pressure groups though... probably the very first group with a vested interest in the marijuana industry was the NZ Police. Nobody really cared less either way in the seventies and the NZ Listener even used to feature a cartoon called Bogor about a hedgehog that grew weed in the pine forests and Billy T James used to demonstrate how to roll a joint properly on prime time television. Everybody thought it was a great laugh.
            <hr>
            <h3> So why are the police so against it?</h3>
            <p>Well they're not. They just don't want the law relaxed because once upon a time the NZ Police had a pretty dull time of it until some genius dreamed up the War on Weed in NZ which gave the police a reason to lobby the Govt for massive budget increases for all sorts of new surveillance equipment and helicopters and cool guns and new jungle fatigues and specialist training and then the Army got in on the whole funding act thing and next thing we've got Army Iroquois helicopters conducting dope raids even though I'm sure there's some golden law somewhere that says the army is not meant to be used in civilian operations and certainly not of a speculative nature. Don't be fooled by all that stuff about ISIS and terrorists... all that spy gear was originally brought in to fight the "cannabis scourge" and throughout the eighties and nineties the NZ Police pretty much did whatever they liked using cannabis as the reason. The police want all that funding to continue and all the cool toys and trips to the bush to continue and they like it that they can now just pretend to smell cannabis then quote a section of the crimes act and kick your door in without a search warrant. People are scared of the police though so they prefer to blame the Govt and everybody else that cannabis is illegal. Its the police that advise the Govt on matters like cannabis. The police and the Health Sector.</p>
            <hr>
            <h3> So what are the Health Sector saying about cannabis?</h3>
            <p> Here are the facts okay. Both NORML and Greencross NZ will tell you that the health sector are saying legalise cannabis because its harmless. This is absolute rubbish. As far back as 1977 the health sector were open to the concept of <a href="http://www.drugfoundation.org.nz/media/support-for-marijuana-use-for-some-medical-conditions">marijuana for medical purposes.</a> Unfortunately this is also the same time NORML NZ started the recreational cannabis use crusade that totally freaked out the Government. At the time they were open to the concept of medical use but wholesale recreational use just terrified them and the backlash was pretty severe.</p>
            <p> The best representation of the current situation... that I've come across... can be found <a href="https://www.drugfoundation.org.nz/matters-of-substance/untouchable">here.</a></p>
            <p> In summary they are saying that yes cannabis does cause health harm but only in a very small percentage of total issues (most being alcohol related) and that current laws cause far more harm to society than what the actual use of the substance causes. A similar finding can be found in the 2011 Law Commission Report found <a href="http://www.lawcom.govt.nz/sites/default/files/projectAvailableFormats/NZLC%20R122.pdf">here.</a> One of the Law Commission recommendations in its May report was that clinical trials be conducted into the medical use of leaf cannabis.</p>
            <hr>
            <h3> So why isn't the Govt responding to these recommendations?</h3>
            <p> Peter Dunne is supposedly the minister in charge and his response is:</p>
             <blockquote>
            <p>“We are not going with that recommendation. It is the Government’s view that is not its role to initiate clinical trials on cannabis leaf or any other product or substance. If the active ingredient of cannabis is seen as essential or beneficial for pain relief there are already pharmaceutical forms of it available that provide measured doses and quality control,” he said.</p>
            </blockquote>
            <hr>
            <h3> What does that actually mean?</h3>
            <p> Unfortunately it means that Peter Dunne is a corrupt politician deliberately giving market leverage to overseas multi-national pharmaceutical companies. What sort of kickbacks he gets is anybody's guess. It means no NZ citizens or companies operating in NZ can conduct research into cannabis or manufacture or market any cannabis products. Nor can any breeding or genetic research into medical cannabis varieties be carried out in NZ... but an overseas company which takes its profits back overseas... is allowed to come into NZ and market and sell Sativex (a cannabis preparation) with no competition from anybody. Talk about a dream business deal. Why Peter Dunne is ignoring the massive social consequences of his stance... and why he is ignoring recommendations from the country's top Medical and Legal professionals... and why he is ignoring all the overseas research and trends... in favour of one specific foreign company... and excluding his own country's entrepeneurs, researchers and scientists.... well who knows because Peter Dunne has never adequately explained his stance to anybody and apparently he has no conscience and no accountability for the consequences of his actions. <p>
            <hr>
            <h3> What are the other political parties saying?</h3>
            <p>Well National is supposedly all about money hence their massive support of the liquor industry and the pharmaceutical industry which must provide huge tax take or election donations or something. there'll be money in it for sure though. How this ties in with the fact that National are meant to be all about the free market and small businesses and entrepeneurs and employment... yet they are deliberately shutting down an industry worth billions in revenue and employment overseas. Once again they have never adequately explained their stance and lack all accountability once again on the social damage caused by their policy. Kiwi entrepeneurs should be able to sue the NZ Govt and the NZ Police for lost opportunities and earnings.</p>
            <p> Labour is anybody's guess. They seem wishy washy on everything these days and don't seem to have a clue where they're headed or what they stand for anymore.</p>
            <p> The Greens is who I personally vote for... though more for their environmental policy than anything else. They don't really seem to have a fiscal policy and their Medical Marijuana bill did come up for debate and was a complete flop. </p>
            <p> There is a Legalise Cannabis party but they represent the recreational users which is a whole different ball game.</p>
            <hr>
            <h3> So what is the difference between recreational and medical use?</h3>
            <p> Well I think the answer is obvious to anybody with a modicum of common sense. I think all the old stoners know exactly what the difference is but unfortunately NZ NORML and NZ Greencross struggle greatly with the concepts involved and fail on purpose to make the distinction. By that I mean when Medical Marijuana first became an issue overseas NZ NORML wouldn't have a bar of it and Phil Saxby has quite openly stated he wants full recreational use or nothing. Pretty much every other NORML organisation in the world heartily embraced Medical Marijuana and used it as the key to open the door to law changes. Not so NZ... they staunchly stuck to their dismissal of Medical Marijuana to the bitter end until it became obvious from overseas pressure that Medical Marijuana was now driving the industry worldwide... not boutique coffee shops in Holland. At that point NORML NZ did a massive U turn and spin doctored history to now say they actually support Medical Marijuana and always have but that there is actually no difference between recreational use and Medical use. They twist and turn and mould the facts like the best political spin doctor you ever saw and somewhere along the line they brainwashed Greencross NZ as well. That is the sole reason I built the Medical Marijuana part of this website. I just got sick of all the misinformation and deliberate spin doctoring. </p>
            <hr>
            <h3> So how has this situation come about?</h3>
            <p>NZ seems unique in the structure of its NORML organisation. All the other NORML organisations I've talked with on the internet for years are run by growers and plant breeders. The people who have always taken the big risks.</p>
            <p> The cannabis industry has been around in NZ for at least 60 years and there is a whole history to it and legendary characters and legendary grows and historic police operations and terrible tragedies. It is an industry that has always been about hippies one one side and guns, money, fast women, fast cars and gangsters on the other side. It's a small incestuous business where everybody knows everybody else.</p>
            <p> None of us have a clue where NORML came from or what they have to do with any of us and that's the honest truth of it. Nobody knew them... they just popped up out of nowhere and suddenly declared themselves the NZ experts on cannabis and declared themselves the media spokespeople for all cannabis users everywhere. We're all like... WTF??? Nothing has changed since. They don't represent us at all and nobody I know has any interest in running boutique cannabis shops or cafes in cities.</p>
            <hr>
            <h3> So what do you want then that's different from them?</h3>
            <p> Well I'm a grower and plant breeder so naturally I want to be able to grow Medical Cannabis and breed new improved strains. NZ is meant to be an agricultural and horticultural country and we led the world once in these areas but now our own Govt is shutting down any ability to enter the worldwide billion dollar Medical Marijuana industry. I personally have no interest in the money side of it and am only interested in the breeding of desirable medical strains.</p>
            <p> I'd be perfectly happy working for a charity business model that was into the science of proper genetically based breeding for specific medical traits. I have been saying that for 20 years now and have always openly stated I am happy to grow under carefully monitored conditions set up with proper measurable outcomes and backed by the latest science and technology.</p>
            <p> The money is in the agricultural and horticultural areas not the end product distribution model which is a value added commodity. In other words sort out the legislation for the raw product before you start worrying about your consumer uptake model.</p>
            <hr>
            <h3> So what does that actually mean?</h3>
            <p> Cannabis is a product just like any other product and it has a similar profile in the marketplace to any other agricultural product of a similar nature. At one end you have a producer (farmer) and at the other end you have consumers of various types... including medical, recreational, industrial (hemp) and value added products.</p>
            <p> In the middle is the distribution network of wholesalers and retailers. To the side you have an entire supporting industry of normal agricultural type products like fertilisers and sprays and you have more industries taking the wholesale product and converting it to oil or concentrates for the value added entrepeneurs creating soaps and perfumes and edibles and health products.<p>
            <p> Then even within the Medical business model you have different levels of participation from full scale pharmaceutical manufacture and ruthless business practises (eg GW Pharma) by multi-nationals right down to home health care stalls at market days.<p>
            <p> The problem in NZ is that all NORML have ever talked about is the tiny weeny recreational consumer model bit which is just a small part of a huge industry that is growing bigger by the day. They've confused everybody including the politicians into thinking the cannabis industry is a bunch of dodgy buggers growing druggy plants under lights in the back shed. They even seem to believe that themselves. <p>
            <p> It's an agricultural crop. It grows just fine outdoors thankyou very much and you can plant it with a seed sower behind a tractor and harvest it with a baler. I'm not saying you should grow it like that but that is the type of cropping plant it has always been. <p>
            <p> It needs to be treated like any other agricultural crop for a start and all this other nonsense needs to stop. The Government should be researching the agricultural potential as a mass crop... not sending professors to Holland to look at how the Dutch grow skunk plants under lights. That's just kiddy stuff and there time has been and gone. The drift is back to proper outdoor growing of traditional medicinal strains. </p>
            <p> I get so sick of saying this.... but why are we copying everybody else? NZ used to lead the world in agricultural and horticultural innovation and here we have our own Government hamstringing us deliberately... so that even if some growing does take place it will be expensive out of date technology growing tired washed out genetics. </p>
            

            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


        <!-- SIDEBAR -->

        <div class="col-sm-5 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <!--<h4 style="color:green">Latest Medical Marijuana News</h4> -->
            <!--<%= render '/refinery/blog/shared/rss_side_body1' %> -->

            <h4>Index</h4>
            <ol class="list-unstyled">
                          
            <li class="<%= yield(:mm2) %>"><a href="mm2.html">Medical Marijuana Business Models</a></li>
            <li class="<%= yield(:mm3) %>"><a href="mm3.html">Medical Marijuana Cultivation Techniques</a></li>
            <li class="<%= yield(:mm4) %>"><a href="mm4.html">Criteria for Medical Marijuana?</a></li>
            <li class="<%= yield(:mm5) %>"><a href="mm5.html">Types of Medical Marijuana Plant</a></li>
            <li class="<%= yield(:mm6) %>"><a href="mm6.html">Medical Marijuana and the Legal System</a></li>
            <li class="<%= yield(:mm7) %>"><a href="mm7.html">Cannabis and Depression</a></li>
            <li class="<%= yield(:mm8) %>"><a href="mm8.html">Medical Marijuana Plant Breeding Techniques</a></li>
            <li class="<%= yield(:mm9) %>"><a href="mm9.html">My Personal Medical Marijuana Strains</a></li>
            <li class="<%= yield(:mm10) %>"><a href="mm10.html">MM10</a></li>

            
        </ol>

          </div>
          <div class="sidebar-module">

          <h4 style="color:brown"><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

          <hr>

                
           <!--<%= link_to image_tag("photo11-thumb.jpg", :size => "76x76"), "assets/photo11.jpg", :rel => "lightbox", :title => "test"%> -->
           
           <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo11-thumb.jpg"), "assets/photo11.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

        
            <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo13-thumb.jpg"), "assets/photo13.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

            <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo14-thumb.jpg"), "assets/photo14.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>

           <div style="float:right; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo15-thumb.jpg"), "assets/photo15.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


          <div style="float:left; margin:0 15px 5px 5px;">
           <%= link_to image_tag("photo16-thumb.jpg"), "assets/photo16.jpg", :rel => "lightbox", :alt => "", :title => "click to enlarge"%></div>
           
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc  </p>
     
          <hr>


            

            <h4>Archives</h4>

              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>

          <h4><em> Unless otherwise specified all photos were taken by me of my own plants in various locations around the country over the last fifteen years.</em></h4>

         

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
